<div class="l-header-library -search">
  <div class="overlay"></div>
  <%= render 'shared/menu' %>
  <div class="row">
    <div class="small-12 columns">
      <div class="title-block">
        <h1 class="text -title-library">Search</h1>
        <%= render 'shared/share', current_route: @current_route  %>
      </div>
    </div>
  </div>
</div>

<div class="l-header-library-separator"></div>

<% unless @news.any? || @activities.any? || @publications.any? || @media_contents.any? || @staff.any? %>
  <section class="l-main-content content -news -color-7">
    <div class="row">
      <div class="small-12 small-centered columns">
        No results for your search
      </div>
    </div>
  </section>
<% end%>

<% if @news.any? %>
  <%= render 'shared/news', news: @news, title: 'News', sectionClass: 'content -color-7' %>
<% end%>

<% if @activities.any? %>
  <%= render 'shared/posts', collection: @activities, title: 'Activities',
    link_txt: 'View all activities',
    link: activities_path, sectionClass: 'content -color-7' %>
<% end%>

<% if @publications.any? %>
  <%= render 'shared/posts', collection: @publications, title: 'Publications',
    link_txt: 'View all publications',
    link: publications_path, sectionClass: 'content -color-7' %>
<% end%>

<% if @staff.any? %>
  <%= render 'shared/users', users: @staff, sectionClass: 'content -color-7' %>
<% end %>

<% if @media_contents.any? %>
  <section class="l-main-content content -news -color-7">
    <div class="row">
      <div class="small-12 columns">
        <div class="c-main-content-header">
          <h2 class="text -title-block">Media</h2>
            <p class="text -view-all">
              <%= link_to media_path do %>
                <span>View all media</span>
                <svg class="icon -arrow">
                  <use xlink:href="#icon-arrow"></use>
                </svg>
              <% end %>
            </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="small-12 small-centered columns">
        <div class="c-slider slider js_slider" data-slider-type="card">
          <div class="frame js_frame">
            <div class="masonry-layout slides js_slides" data-columns="4">
              <% @media_contents.each do |media| %>
                <% picture_url = case media.type
                                   when MediaContent::TYPE_ALBUM
                                     photo = media.photos.first
                                     photo ? photo.photo_sizes.where(label: PhotoSize::MEDIUM).first.try(:url) : nil
                                   when MediaContent::TYPE_PHOTO
                                     media.photo_sizes.where(label: PhotoSize::MEDIUM).first.try(:url)
                                   else
                                     nil
                                 end %>
                <%= render 'shared/media_card',
                  picture: picture_url,
                  title: media.title,
                  link: medium_path(media),
                  photos_count: media.type == 'Album' ? media.photos.size : 0,
                  videos_count: 0 %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end%>

<%= render 'shared/footer' %>
