<% title("Search") %>

<div class="l-header-library -search">
  <div class="overlay"></div>
  <%= render 'shared/menu' %>
  <div class="row">
    <div class="small-12 columns">
      <div class="title-block">
        <form action="<%= search_index_path %>" method="GET">
          <input type="text" name="query" value="<%= @query %>" class="c-search-input js-search-input text -title-library" placeholder="Search" autocomplete="off" />
        </form>
      </div>
    </div>
  </div>
</div>

<div class="l-header-library-separator"></div>
<% if @query.present? %>
  <div class="l-main-content -search -color-7">
    <% filters = [
      {
        data: ['All', 'Activities', 'Publications', 'Graphics', 'Photos', 'Videos', 'News', 'Staff'],
        type: 'section',
        key: 'section'
      }
    ] %>
    <%= render 'shared/filters', filters: filters %>
  </div>

  <% unless (@news.present? && @news.any?) ||
    (@activities.present? && @activities.any?) ||
    (@publications.present? && @publications.any?) ||
    (@media_contents.present? && @media_contents.any?) ||
    (@staff.present? && @staff.any?) %>
    <%= render 'no_results', query: @query %>
  <% end %>

  <% if @news.present? && @news.any? %>
    <%= render 'shared/news', news: @news, title: 'News', sectionClass: 'content -color-7' %>
  <% end%>

  <% if @activities.present? && @activities.any? %>
    <%= render 'shared/posts', collection: @activities, title: 'Activities',
      link_txt: 'View all activities',
      link: activities_path, sectionClass: 'content -color-7' %>
  <% end%>

  <% if @publications.present? && @publications.any? %>
    <%= render 'shared/posts', collection: @publications, title: 'Publications',
      link_txt: 'View all publications',
      link: publications_path, sectionClass: 'content -color-7' %>
  <% end%>

  <% if @staff.present? && @staff.any? %>
    <%= render 'shared/users', users: @staff, sectionClass: 'content -color-7' %>
  <% end %>

  <% if @media_contents.present? && @media_contents.any? %>
    <section class="l-main-content content -news -color-7">
      <div class="row">
        <div class="small-12 columns">
          <div class="c-main-content-header">
            <h2 class="text -title-block"><%= ['Graphics', 'Photos', 'Videos'].include?(@selected_section) ? @selected_section : 'Media' %></h2>
              <p class="text -view-all">
                <%= link_to resources_path do %>
                  <span>View all media</span>
                  <svg class="icon -arrow">
                    <use xlink:href="#icon-arrow"></use>
                  </svg>
                <% end %>
              </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="small-12 small-centered columns">
          <div class="c-slider slider js_slider" data-slider-type="card">
            <div class="frame js_frame">
              <div class="masonry-layout masonry-1-1-2-4 slides js_slides" data-columns="4">
                <% @media_contents.each do |media| %>
                  <%= render 'shared/media_card', media: media %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  <% end%>
<% else %>
  <%= render 'no_results', query: @query %>
<% end %>

<%= render 'shared/scroll_to_top' %>

