<div class="field" data-type="media-content">

  <%= form.label value, label_txt, class: 'text -field-label -bold -dark' %>

  <%= form.hidden_field value, class: 'js-media-content-field' %>

  <%= form.file_field picture_value, label: false, class: 'file_input' %>
  <%= form.label picture_value, class: 'fake-input' do %>
      <div class="tip">
        <svg class="icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-img"></use>
        </svg>
        <p class="text -plain-text -dark">Drag and drop an image or click here to upload one.</p>
        <div class="current_picture" <% if have_picture %>style="background-image: url('<%= picture_url %>');"<% end %>></div>
      </div>
  <% end %>

  <div class="searcher">

    <%= text_field_tag :query, params[:query] || nil, id: "search-media-contents", class: 'text -plain-text -dark', placeholder: "Search Media Library" %>

    <div class="pictures">

      <%= render 'backend/shared/form/matching_pictures', media_contents: media_contents, selected_id: media_content_id %>

    </div>
  </div>
</div>

