<%
  field_class ||= ''
  fix_input_class = 'fake-input'
  if have_picture
    fix_input_class = fix_input_class + ' -have-picture'
  end
%>

<div class="field <%= field_class %>" data-type="picture">
  <%= form.label value, label_txt, class: 'text -field-label -bold -dark' %>
  <%= form.file_field value, label: false, class: 'file_input' %>
  <%= form.label value, class: fix_input_class do %>
    <div class="tip">
      <svg class="icon">
        <use xmlns:xlink="//www.w3.org/1999/xlink" xlink:href="#icon-img"></use>
      </svg>
      <p class="text -plain-text -dark">
        Drag and drop an image or click here to upload one.
      </p>
      <div class="current_picture" <% if have_picture %>style="background-image: url('<%= picture_url %>');"<% end %>></div>
    </div>
  <% end %>
</div>
