<% fields ||= 1 %>
<% default_actions = true unless local_assigns.has_key?(:default_actions) %>
<% preview_url = main_app.url_for(form.object) unless local_assigns.has_key?(:preview_url) %>

<div class="form_header" data-fields="<%= fields %>">
  <%if inputs.length > 1%>
    <% inputs.each do |input| %>
      <%= form.label input.values[0] %>
      <%= form.input input.values[0], label: false, input_html: { class: 'text -main-title -dark title js-adjustable-input', placeholder: input.values[1] } %>
    <% end %>
  <% else %>
    <% inputs.each do |input| %>
      <%= form.label input.values[0] %>
      <%= form.input input.values[0], as: :text, label: false, input_html: { class: 'text -main-title -dark title', placeholder: input.values[1] }, rows: 2 %>
    <% end %>
  <%end%>

  <div class="actions">
    <% if default_actions %>
      <%= form.button :submit, 'SAVE', class: '-dark' %>
      <%= link_to "CANCEL", :back, class: 'btn -light' %>
      <% if preview_url %>
        <%= link_to preview_url, class: 'btn -light -preview' do %>
          <svg class="icon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-preview"></use>
          </svg>
        <% end %>
      <% end %>
    <% else %>
      <div class="btn -dark js-form-save">SAVE</div>
      <div class="btn -light js-form-cancel">CANCEL</div>
    <% end %>
  </div>
</div>
<%= hidden_field_tag :page, params[:page] %>
