<div class="l-header-library -news">
  <div class="overlay"></div>
  <%= render 'shared/menu' %>
  <div class="row">
    <div class="small-12 columns">
      <div class="title-block">
        <h1 class="text -title-library">News</h1>
        <div class="text -summary">
          <%= @section.description %>
        </div>
        <%= render 'shared/share' %>
      </div>
    </div>
  </div>
</div>

<div class="l-main-content -news -only-grid">
  <div class="row">
    <div class="small-12 small-centered columns grid-column">
      <div class="masonry-layout" hidden data-columns>
        <% @articles.each do |article| %>
          <%= render 'shared/news_card', article: article %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>
