<div class="l-header-library -news">
  <div class="overlay"></div>
  <%= render 'shared/menu' %>
  <div class="row">
    <div class="small-12 columns">
      <div class="title-block">
        <h1 class="text -title-library">News</h1>
        <div class="text -summary">
          <%= @section.description %>
        </div>
        <%= render 'shared/share' %>
      </div>
    </div>
  </div>
</div>

<div class="l-main-content -news">

  <div class="row">
    <div class="small-12 small-centered columns grid-column">
      <div class="masonry-layout" hidden data-columns>
        <% @articles.each do |article| %>
          <div class="item">
            <%= link_to "http://news.grida.no/#{article.exposure_slug}" do %>
              <article class="c-card">
                <div class="card-pic" style="background-image: url('<%= article.cover_src %>')"></div>
                <div class="card-description">
                  <h3 class="text -title-card"><%= article.title %></h3>
                  <p class="text -summary"><%= article.short_description %></p>
                  <p class="text -meta">
                    <%= time_ago_in_words(article.publication_date) %>
                  </p>
                </div>
              </article>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>
