<div class="l-header-library -publications">
  <div class="overlay"></div>
  <%= render 'shared/menu' %>
  <div class="row">
    <div class="small-12 columns">
      <div class="title-block">
        <h1 class="text -title-library">Publications</h1>
        <div class="text -summary">
          <%= @section.description %>
        </div>
        <%= render 'shared/share' %>
      </div>
    </div>
  </div>
</div>

<div class="l-main-content -publications -only-grid -no-border -color-2">
  <% filters = [
    {
      data: @content_types,
      type: 'select',
      title: 'FILTER BY',
      placeholder: 'Filter by type',
      key: 'type'
    },
    {
      data: @tags,
      type: 'tags',
      title: 'FILTER BY',
      placeholder: 'Filter by tags',
      key: 'tags'
    },
    {
      data: @years,
      type: 'years',
      key: 'years'
    }
  ] %>
  <%= render 'shared/filters', filters: filters %>

  <div class="row">
    <div class="small-12 small-centered columns grid-column">
      <div class="masonry-layout" data-columns="3">
        <%= render 'publications', publications: @publications %>
      </div>
      <% if @publications.count < 1 %>
        <div class="c-filter-message">
          <h4 class="text -nothing-to-see">Sorry, nothing to see here <img src="<%= asset_url('monete.png') %>" width="30"/></h4>
        </div>
      <% end %>
    </div>
  </div>

</div>

<%= render 'shared/footer' %>
