<% title("Publications") %>
<div class="l-header-library -publications">
  <div class="overlay"></div>
  <%= render 'shared/menu' %>
  <div class="row">
    <div class="small-12 columns">
      <div class="title-block">
        <h1 class="text -title-library">Publications</h1>
        <div class="text -summary">
          <%= raw @section.description %>
        </div>
        <%= render 'shared/share', current_route: @current_route  %>
      </div>
      <%= render 'shared/share', current_route: @current_route, mobile: true  %>
    </div>
  </div>
</div>

<div class="l-main-content -publications -only-grid -no-border -color-2">
  <% filters = [
    {
      data: @status,
      type: 'select',
      title: 'FILTER BY STATUS',
      placeholder: 'Filter by status',
      key: 'status',
      display_method: 'to_s',
      matching_method: 'to_s'
    },
    {
      data: @content_types,
      type: 'select',
      title: 'FILTER BY TYPE',
      placeholder: 'Filter by type',
      key: 'type'
    },
    {
      data: @partners,
      type: 'select',
      title: 'FILTER BY PARTNER',
      placeholder: 'Filter by partner',
      key: 'partners',
      display_method: 'name',
      with_search: true
    },
    {
      data: @tags,
      type: 'tags',
      title: 'FILTER BY TAGS',
      placeholder: 'Filter by tags',
      key: 'tags'
    },
    {
      data: @years,
      type: 'years',
      key: 'years'
    }
  ] %>
  <%= render 'shared/filters', filters: filters %>

  <div class="row">
    <div class="small-12 small-centered columns grid-column">
      <div class="masonry-layout masonry-1-1-2-3" data-columns="3">
        <%= render 'publications', publications: @publications %>
      </div>
      <% if @publications.count < 1 %>
        <div class="c-filter-message">
          <h4 class="text -nothing-to-see">Sorry, nothing to see here <img src="<%= asset_url('monete.png') %>" width="30"/></h4>
        </div>
      <% end %>
    </div>
  </div>

  <%= render 'shared/scroll_to_top' %>

</div>

<%= render 'shared/footer' %>
