<div class="l-header-library -publications">
  <div class="overlay"></div>
  <%= render 'shared/menu' %>
  <div class="row">
    <div class="small-12 columns">
      <div class="title-block">
        <h1 class="text -title-library">Publications</h1>
        <div class="text -summary">
          GRID-Arendal has produced publications, in both printed and electronic formats, on a wide range of issues related to the environment.
        </div>
        <!-- <div class="share">
          <svg class="icon">
            <use xlink:href="#icon-share"></use>
          </svg>
        </div> -->
      </div>
    </div>
  </div>
</div>

<div class="l-main-content -publications">
  <%= render 'shared/filters', years: @years %>
  <div class="row">
    <div class="small-12 small-centered columns -fix">
      <div id="masonry-layout" class="masonry-layout" hidden data-columns>
        <% @publications.each do |publication| %>
          <%= link_to publication_path(publication) do %>
            <div class="item">
              <article class="c-card">
                <div class="card-pic" style="background-image: url('<%= publication.picture %>')"></div>
                <div class="card-descrition">
                  <h3 class="text -title-card"><%= publication.title %></h3>
                  <p class="text -summary"><%= publication.short_description %></p>
                  <p class="text -meta"><%= time_ago_in_words(publication.created_at) %></p>
                </div>
              </article>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

</div>

<%= render 'shared/footer' %>
