<div class="l-header-single -publications">
  <div class="overlay"></div>
  <%= render 'shared/menu' %>
  <div class="row">
    <div class="small-12 columns">
      <div class="title-block">
        <div class="c-breadcrumbs">
          <a href="/">
            <svg class="icon-home">
              <use xlink:href="#icon-breadcrumb-home"></use>
            </svg>
          </a>
          <svg class="icon">
            <use xlink:href="#icon-breadcrumb-chevron-right"></use>
          </svg>
          <%= link_to "Publications", publications_path, class: "text -meta" %>
          <svg class="icon">
            <use xlink:href="#icon-breadcrumb-chevron-right"></use>
          </svg>
          <span class="text -meta"><%= @publication.title %></span>
        </div>
        <div class="share">
          <svg class="icon">
            <use xlink:href="#icon-share"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="l-single-article -publications">

  <div class="row">
    <div class="small-12 column">
      <div class="c-article-image" <% if @publication.media_content && @publication.media_content.mediable_photo_url.present? %>style="background-image: url('<%= @publication.media_content.mediable_photo_url %>');"<% end %>></div>
    </div>
  </div>

  <div class="content-wrapper">

    <div class="content">
      <h2 class="text -title-single-alt"><%= @publication.title %></h2>
      <div class="text -body-single-alt description">
        <%= raw @publication.description %>
        <%= raw @publication.description %>
        <%= raw @publication.description %>
        <%= raw @publication.description %>
        <div class="read-more">
          <svg class="icon">
            <use xlink:href="#icon-read-more-plus"></use>
          </svg>
          Read More
        </div>
      </div>
    </div>

    <div class="sidebar -publications">
      <div class="title text -title-block mobile">Download</div>
      <div class="meta">
        <div class="row">
          <div class="small-6 medium-3 large-4 columns">
            <% if @publication.picture.present? %>
              <div class="cover" style="<%= "background-image: url('#{@publication.picture.url}')" if @publication.picture %>"></div>
            <% end %>
          </div>
          <div class="small-6 medium-9 large-8 columns">
            <div class="title text -meta desktop">Download</div>
            <div class="download-links">
              <% @publication.documents.each do |doc| %>
                <div class="btn -dark">
                  <%= link_to doc.label, doc.document.url %>
                </div>
              <% end %>
              <!--div class="btn">graphics</div-->
            </div>
          </div>
        </div>
        <div class="row">
          <div class="small-6 medium-12 large-12 columns">
            <div class="title text -meta desktop">External links</div>
            <div class="download-links">
              <% @publication.weblinks.each do |wl| %>
                <div class="btn -dark">
                  <%= link_to wl.label, wl.url %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ul>
    <% @publication.partners.each do |partner| %>
      <li><%= link_to partner.name, partner.web_url %></li>
    <% end %>
  </ul>

  <% if @users.any? || @publication.lead_user %>
    <%= render 'shared/users', users: @users, lead_user: @publication.lead_user %>
  <% end %>

  <% if @publication.activities.any? %>
    <%= render 'shared/posts', collection: @publication.activities,
      title: 'activities', link: activities_path %>
  <% end %>

  <%= render 'shared/media' %>

</div>

<%= render 'shared/footer' %>
