<% picture_url = if @publication.picture.exists?
                  @publication.picture.url(:original)
                elsif @publication.media_content
                  photo = if @publication.media_content.is_a?(Photo)
                            @publication.media_content
                          else
                            @publication.media_content.photos.first
                          end

                  photo.photo_sizes.where(label: PhotoSize::LARGE).first.try(:url)
                else
                  asset_path('original/missing2.png')
                end %>
<div class="l-header-single">
  <div class="navigation -publications">
    <%= render 'shared/menu' %>
    <div class="row">
      <div class="small-12 columns">
        <div class="title-block">
          <% breadcrumbs_links = [
            {text: 'Publications', link: publications_path },
            {text: @publication.title,
             edit_path: backend.edit_publication_path(@publication) }
          ] %>
          <%= render 'shared/breadcrumbs', links: breadcrumbs_links %>
          <%= render 'shared/share', current_route: @current_route  %>
        </div>
      </div>
    </div>
  </div>
  <div class="banner -publications" style="background-image: url('<%= picture_url %>');"></div>
</div>

<div class="l-single-article -publications">

  <div class="row">
    <div class="small-12 column">
      <div class="c-article-image" style="background-image: url('<%= picture_url %>');"></div>
    </div>
  </div>

  <div class="content-wrapper">

    <div class="content">
      <h2 class="text -title-single-alt"><%= @publication.title %></h2>
      <div class="text -body-single-alt description">
        <%= raw @publication.description %>
        <div class="read-more">
          <svg class="icon">
            <use xlink:href="#icon-read-more-plus"></use>
          </svg>
          Read More
        </div>
      </div>
    </div>

    <div class="sidebar -publications">
      <div class="sidebar-content">
        <div class="meta">
          <div class="row">
            <div class="small-6 medium-3 large-4 columns">
              <% if @publication.cover_picture.exists? %>
                <div class="cover" style="<%= "background-image: url('#{@publication.cover_picture.url(:medium)}')" %>"></div>
              <% end %>
            </div>
            <div class="small-6 medium-9 large-8 columns">
              <div class="download-links">
                <% @publication.documents.each do |doc| %>
                  <% if doc.document.exists? %>
                    <div class="btn -dark">
                      <%= link_to doc.label, doc.document.url %>
                    </div>
                  <% end %>
                <% end %>
                <% @publication.weblinks.each do |wl| %>
                  <div class="btn -dark">
                    <%= link_to wl.label, wl.url %>
                  </div>
                <% end %>
                <!--div class="btn">graphics</div-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% if @publication.partners.any? %>
    <%= render 'shared/partners', partners: @publication.partners, sectionClass: 'content -color-2' %>
<% end %>

<% if @users.any? || @publication.lead_user %>
  <%= render 'shared/users', users: @users, lead_user: @publication.lead_user, sectionClass: 'content -color-2' %>
<% end %>

<% if @publication.activities.any? %>
  <%= render 'shared/posts', collection: @publication.activities,
    title: 'Related activities',
    link_txt: 'View all activities',
    link: activities_path, sectionClass: 'content -color-2' %>
<% end %>

<% if @publication.news_articles.any? %>
  <%= render 'shared/news', news: @publication.news_articles, sectionClass: 'content -color-2' %>
<% end %>

<% if @publication.media_contents.any? %>
  <%= render 'shared/related_media', media_contents: @publication.media_contents, link: media_path, sectionClass: 'content -color-2' %>
<% end %>

<%= render 'shared/footer' %>
