<% picture_url = if @publication.picture.exists?
                  @publication.picture.url(:original)
                elsif @publication.media_content
                  photo = if @publication.media_content.type == MediaContent::TYPE_PHOTO
                            @publication.media_content
                          else
                            @publication.media_content.photos.first
                          end
                  photo.biggest_size_url
                else
                  asset_path('original/missing2.png')
                end %>

<% status = if @publication.status == Content::COMPLETED && @publication.content_date.present?
              time_ago_in_words(@publication.content_date)
            else
              @publication.status
            end %>

<div class="l-header-single">
  <div class="navigation -publications">
    <%= render 'shared/menu' %>
    <div class="row">
      <div class="small-12 columns">
        <div class="title-block">
          <% breadcrumbs_links = [
            {text: 'Publications', link: publications_path },
            {text: @publication.title,
             edit_path: backend.edit_publication_path(@publication) }
          ] %>
          <%= render 'shared/breadcrumbs', links: breadcrumbs_links %>
          <%= render 'shared/share', current_route: @current_route  %>
        </div>
      </div>
    </div>
  </div>
  <div class="banner -publications <% if picture_url %>-picture<% end %>" style="background-image: url('<%= picture_url %>');"></div>
</div>

<div class="l-single-article -publications">

  <div class="row">
    <div class="small-12 column">
      <div class="c-article-image" style="background-image: url('<%= picture_url %>');"></div>
    </div>
  </div>

  <div class="content-wrapper">

    <div class="content">
      <h2 class="text -title-single-alt"><%= @publication.title %></h2>
      <% if status %>
        <p class="text -meta"><%= status %></p>
      <% end %>
      <div class="text -body-single-alt description">
        <%= raw @publication.description %>
        <div class="-status">
          <% if @publication.content_type.present? %>
            <p><strong>Status:</strong> <%= link_to @publication.status, publications_path(:status => @publication.status) %></p>
          <% end %>
          <% if @publication.content_type.present? %>
            <p><strong>Type:</strong> <%= link_to @publication.content_type.title, publications_path(:type => @publication.content_type.id) %></p>
          <% end %>
        </div>
        <% if @publication.tags.any? %>
          <p class="c-tags">
            <strong>Tags:</strong>
            <% @publication.tags.each do |tag| %>
              <%= link_to publications_path(:tags => tag.id) do %>
                <span class="tag text -meta"><%= tag %></span>
              <% end %>
            <% end %>
          </p>
        <% end %>
        <div class="read-more">
          <svg class="icon">
            <use xlink:href="#icon-read-more-plus"></use>
          </svg>
          Read More
        </div>
      </div>
    </div>

    <div class="sidebar -publications">
      <div class="sidebar-content">
        <div class="meta">
          <div class="row">
            <div class="small-6 medium-3 large-4">
              <% if @publication.cover_picture.exists? %>
                <div class="cover" style="<%= "background-image: url('#{@publication.cover_picture.url(:medium)}')" %>"></div>
              <% end %>
            </div>
            <div class="small-6 medium-9 large-8 columns">
              <div class="download-links">
                <% @publication.documents.each do |doc| %>
                  <% if doc.document.exists? %>
                    <div class="btn -dark" data-key="<%= doc.label %>">
                      <%= link_to doc.label, doc.document.url, target: '_blank' %>
                    </div>
                  <% end %>
                <% end %>
                <% @publication.weblinks.each do |wl| %>
                  <div class="btn -dark" data-key="<%= wl.label %>">
                    <%= link_to wl.label, wl.url, target: '_blank' %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% if @publication.partners.any? %>
    <%= render 'shared/partners', partners: @publication.partners, sectionClass: 'content -color-2' %>
<% end %>

<% if @users.any? || @publication.lead_user %>
  <%= render 'shared/users', users: @users.order_by_fullname, lead_user: @publication.lead_user, sectionClass: 'content -color-2' %>
<% end %>

<% if @publication.activities.published.any? %>
  <%= render 'shared/posts', collection: @publication.activities.published,
    title: 'Related activities',
    link_txt: 'View all activities',
    link: activities_path, sectionClass: 'content -color-2' %>
<% end %>

<% if @publication.news_articles.any? %>
  <%= render 'shared/news', news: @publication.news_articles.
    order(publication_date: :desc), sectionClass: 'content -color-2',
    title: "Related news" %>
<% end %>

<% if @publication.media_contents.any? %>
  <%= render 'shared/related_media', media_contents: @publication.media_contents_with_graphics_expanded, link: resources_path, sectionClass: 'content -color-2' %>
<% end %>

<%= render 'shared/scroll_to_top' %>

<%= render 'shared/footer' %>
