<div class="l-items-index">
  <%= render 'users', users: @users %>
</div>

<div class="l-items-detail">
  <h2>Edit</h2>
  <p><%= @user.full_name || 'User' %></p>
  <%= simple_form_for @user do |f| %>
    <%= render partial: f %>
    <div class="actions">
      <%=  f.submit  do %>
        <button>Update</button>
      <% end %>
    </div>
  <% end %>
</div>
