<div class="l-header-library -media-library">
  <div class="overlay"></div>
  <%= render 'shared/menu' %>
  <div class="row">
    <div class="small-12 columns">
      <div class="title-block">
        <h1 class="text -title-library">Media library</h1>
        <div class="text -summary">
          <%= @section.description %>
        </div>
        <%= render 'shared/share', current_route: @current_route  %>
      </div>
      <%= render 'shared/share', current_route: @current_route, mobile: true  %>
    </div>
  </div>
</div>
<div class="l-main-content -media-library -only-grid -no-border -color-4">
  <% filters = [
    {
      data: @types,
      type: 'select',
      title: 'FILTER BY TYPE',
      placeholder: 'Filter by type',
      key: 'media',
      display_method: 'pluralize',
      matching_method: 'to_s'
    },
    {
      data: @tags,
      type: 'tags',
      title: 'FILTER BY TAGS',
      placeholder: 'Filter by tags',
      key: 'tags'
    }
  ] %>

  <%= render 'shared/filters', filters: filters %>

  <div class="row">
    <div class="small-12 small-centered columns grid-column">
      <div class="masonry-layout masonry-1-1-3-4" data-columns="4">
        <%= render 'media_library', media_contents: @media_contents %>
      </div>
      <% if @media_contents.count < 1 %>
        <div class="c-filter-message">
          <h4 class="text -nothing-to-see">Sorry, nothing to see here <img src="<%= asset_url('monete.png') %>" width="30"/></h4>
        </div>
      <% end %>
    </div>
  </div>

  <%= render 'shared/scroll_to_top' %>

</div>

<%= render 'shared/footer' %>
