<div class="l-header-library -media-library">
  <div class="overlay"></div>
  <%= render 'shared/menu' %>
  <div class="row">
    <div class="small-12 columns">
      <div class="title-block">
        <h1 class="text -title-library">Media library</h1>
        <div class="text -summary">
          <%= @section.description %>
        </div>
        <%= render 'shared/share' %>
      </div>
    </div>
  </div>
</div>
<div class="l-main-content -media-library -only-grid -no-border -color-4">
  <% filters = [
    {
      data: @types,
      type: 'select',
      title: 'FILTER BY',
      placeholder: 'Filter by type',
      key: 'type',
      display_method: 'type',
      matching_method: 'type'
    },
    {
      data: @tags,
      type: 'tags',
      title: 'FILTER BY',
      placeholder: 'Filter by tags',
      key: 'tags'
    }
  ] %>

  <%= render 'shared/filters', filters: filters %>

  <div class="row">
    <div class="small-12 small-centered columns grid-column">
      <div class="masonry-layout" data-columns="4">
        <%= render 'media_library', media_contents: @media_contents %>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>
