<%
  is_vertical = false
  picture_url = case @media_content.type
                when MediaContent::TYPE_ALBUM
                  photo = @media_content.photos.first
                  is_vertical = photo.photo_sizes.where(label: PhotoSize::LARGE).first.is_vertical
                  photo && photo.photo_sizes.where(label: PhotoSize::LARGE).first.try(:url)
                when MediaContent::TYPE_PHOTO, MediaContent::TYPE_GRAPHIC
                  is_vertical = @media_content.photo_sizes.where(label: PhotoSize::LARGE).first.is_vertical
                  @media_content.photo_sizes.where(label: PhotoSize::LARGE).first.try(:url)
                when MediaContent::TYPE_COLLECTION
                  photo = @media_content.graphics.first
                  is_vertical = photo.photo_sizes.where(label: PhotoSize::LARGE).first.is_vertical
                  photo && photo.photo_sizes.where(label: PhotoSize::LARGE).first.try(:url)
                else
                  nil
                end
  video_provider = nil
  video_id = nil
  if @media_content.type == MediaContent::TYPE_VIDEO
    if @media_content.external_url.include?(Video::PROVIDER_YOUTUBE)
      video_provider = Video::PROVIDER_YOUTUBE
      video_id = @media_content.external_url.split('=').last
    elsif @media_content.external_url.include?(Video::PROVIDER_VIMEO)
      video_provider = Video::PROVIDER_VIMEO
      video_id = @media_content.external_url.split('/').last
    end
  end
%>
<div class="l-header-single">
  <div class="navigation -media-library">
    <%= render 'shared/menu' %>
    <div class="row">
      <div class="small-12 columns">
        <div class="title-block">
          <% breadcrumbs_links = [
            {text: 'Media library', link: media_path},
            {text: @media_content.title,
             edit_path: backend.url_for([:edit, @media_content]) }
          ] %>
          <%= render 'shared/breadcrumbs', links: breadcrumbs_links %>
          <%= render 'shared/share', current_route: @current_route  %>
        </div>
      </div>
    </div>
  </div>
  <% if @media_content.type == MediaContent::TYPE_VIDEO %>
    <div class="banner -media-library">
      <% if video_provider == Video::PROVIDER_YOUTUBE %>
        <iframe src="https://www.youtube.com/embed/<%= video_id %>" width="100%" height="100%" frameborder="0" allowfullscreen></iframe>
      <% elsif video_provider == Video::PROVIDER_VIMEO %>
        <iframe src="https://player.vimeo.com/video/<%= video_id %>" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      <% end %>
    </div>
  <% else %>
    <div class="banner -media-library <% if is_vertical %>-vertical<% end %>" style="background-image: url('<%= picture_url %>');"></div>
  <% end %>
</div>
<div class="l-media-article -media-library">

  <div class="row">
    <div class="small-12 column">
      <% if @media_content.type == MediaContent::TYPE_VIDEO %>
        <div class="c-article-image">
          <% if video_provider == Video::PROVIDER_YOUTUBE %>
            <iframe src="https://www.youtube.com/embed/<%= video_id %>" width="100%" height="100%" frameborder="0" allowfullscreen></iframe>
          <% elsif video_provider == Video::PROVIDER_VIMEO %>
            <iframe src="https://player.vimeo.com/video/<%= video_id %>" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          <% end %>
        </div>
      <% else %>
        <div class="c-article-image <% if is_vertical %>-vertical<% end %>" style="background-image: url('<%= picture_url %>');"></div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="small-12 large-6 column">
      <div class="content">
        <h2 class="text -title-single"><% @media_content.title %></h2>
        <div class="text -body-single">
          <%= raw @media_content.description %>
          <br>
          <% if @media_content.publication_date.present? %>
            <p><strong>Year:</strong> <%= @media_content.publication_date.year %></p>
          <% end %>
          <% if @media_content.author.present? %><p><strong>Taken by:</strong> <%= @media_content.author %></p><% end %>
          <% if @media_content.tags.any? %>
            <p class="tags">
              <strong>Tags:</strong>
              <% @media_content.tags.each do |tag| %>
                <span class="tag text -meta"><%= tag %></span>
              <% end %>
            </p>
          <% end %>
        </div>
      </div>
    </div>

    <div class="small-12 large-4 large-offset-2 column">
      <div class="sidebar">
        <div class="download-links">
          <% if @media_content.is_a?(Photo) %>
            <div class="text -sidebar-title">Download</div>
            <ul class="button-list">
              <% @media_content.photo_sizes.where(label: PhotoSize::LABELS).each do |size| %>
                <%= link_to size.url, title: size.label, target: '_blank' do %>
                  <li class="btn -dark" data-file-size="<%= "#{size.width}x#{size.height}"%>">
                    <%= PhotoSize::DISPLAY[size.label] %>
                  </li>
                <% end %>
              <% end %>
            </ul>
          <% end %>
        </div>
        <div class="constraints">
          <div class="text -sidebar-title">Use Constraints</div>
          <div class="text -meta">Using this item and referring to it is encouraged, and please use it in presentations, web pages, newspapers, blogs and reports.<br><br>For any form of publication, please include the link to this page and give the creator credit <% if @media_content.author.present? %>(in this case <%= @media_content.author %>)<% end %></div>
        </div>
      </div>
    </div>
  </div>

</div>

<% if @media_content.is_a?(Album) %>
  <%= render 'shared/media', media_contents: @media_content.photos,
  title: "Photos included in album", sectionClass: 'content -color-4' %>
<% end %>

<% if @media_content.activities.any? %>
  <%= render 'shared/posts', collection: @media_content.activities.
    order(:title),
    title: 'Related activities',
    link_txt: 'View all activities',
    link: activities_path, sectionClass: 'content -color-4' %>
<% end %>

<% if @media_content.publications.any? %>
  <%= render 'shared/posts', collection: @media_content.publications.
    order(content_date: :desc),
    title: 'Related publications',
    link_txt: 'View all publications',
    link: publications_path, sectionClass: 'content -color-4' %>
<% end %>

<% if @media_content.news_articles.any? %>
  <%= render 'shared/news', news: @media_content.news_articles,
    title: "Related news", sectionClass: 'content -color-4' %>
<% end %>

<%= render 'shared/footer' %>
