<div class="l-header-single -media-library">
  <div class="overlay"></div>
  <%= render 'shared/menu' %>
  <div class="row">
    <div class="small-12 columns">
      <div class="title-block">
        <div class="c-breadcrumbs">
          <a href="/">
            <svg class="icon-home">
              <use xlink:href="#icon-breadcrumb-home"></use>
            </svg>
          </a>
          <svg class="icon">
            <use xlink:href="#icon-breadcrumb-chevron-right"></use>
          </svg>
          <%= link_to "Media library", media_path, class: "text -meta" %>
          <svg class="icon">
            <use xlink:href="#icon-breadcrumb-chevron-right"></use>
          </svg>
          <span class="text -meta"><% @media_content.title %></span>
        </div>
        <div class="share">
          <svg class="icon">
            <use xlink:href="#icon-share"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="l-media-article -media-library">

  <div class="row">
    <div class="small-12 column">
      <div class="c-article-image" style="background-image: url('<%= @media_content.photos.first.photo_sizes.where(size: PhotoSize::MEDIUM).first.url %>');"></div>
    </div>
  </div>

  <div class="row">
    <div class="small-12 large-6 column">
      <div class="content">
        <h2 class="text -title-single"><% @media_content.title %></h2>
        <div class="text -body-single">
          <%= raw @media_content.description %>
          <!--<p>Svalbard is the best example of Linking Tourism & Conservation and where totally protected polar bears can be observed under well-regulated and -managed conditions.</p>
          <br>
          <p><strong>Year:</strong> 2014</p>
          <p><strong>From collection:</strong> Arctic Biodiversity</p>
          <p><strong>Taken by:</strong> Peter Prokosch</p>
          <p><strong>Downloads:</strong> 4509 <span class="rating"><strong>Rating:</strong></span></p>-->
          <p class="tags">
            <strong>Tags:</strong>
            <span class="tag text -meta">Arctic</span>
            <span class="tag text -meta">Biodiversity</span>
            <span class="tag text -meta">Conservation</span>
          </p>
        </div>
      </div>
    </div>

    <div class="small-12 large-6 column">
      <div class="sidebar">
        <div class="download-links">
          <div class="text -sidebar-title">Download</div>
          <ul class="button-list">
            <li class="btn -dark" data-file-size="500x320">S</li>
            <li class="btn -dark" data-file-size="2200x1460">M</li>
            <li class="btn -dark" data-file-size="3500x2343">L</li>
            <li class="btn -dark" data-file-size="4288x2848">XL</li>
          </ul>
        </div>
        <div class="constraints">
          <div class="text -sidebar-title">Use Constraints</div>
          <div class="text -meta">Using this item and referring to it is encouraged, and please use it in presentations, web pages, newspapers, blogs and reports.<br><br>For any form of publication, please include the link to this page and give the creator credit (in this case Peter Prokosch)</div>
        </div>
      </div>
    </div>
  </div>

</div>

<%= render 'shared/related-media' %>

<%= render 'shared/footer' %>
