<%= render 'backend/shared/form/header', form: form, inputs: [{value: :title, title_placeholder: 'Photo title'}] %>

<div class="fields">

  <%= render 'backend/shared/form/field_photos', form: form, label_txt: 'Pictures', photos: @album_photos, external_link: true %>

  <%= render 'backend/shared/form/field_textarea', form: form, value: :description %>

  <%= render 'backend/shared/form/field_input', form: form, value: :author %>

  <%= render 'backend/shared/form/field_input', form: form, value: :licence %>

  <%= render 'backend/shared/form/field_datepicker', form: form, value: :publication_date %>

  <%= render 'backend/shared/form/field_tags', form: form, collection: tags %>

  <%= render 'backend/shared/form/field_association', form: form,
    value: :activities, collection: activities, label_method: :title,
    js_trigger_class: 'js-select-tags',
    note_txt: '(Choose related activities)' %>

  <%= render 'backend/shared/form/field_association', form: form,
    value: :publications, collection: publications, label_method: :title,
    js_trigger_class: 'js-select-tags',
    note_txt: '(Choose related publications)' %>
</div>
