<%= render 'backend/shared/form/header', form: form, inputs: [{value: :title, title_placeholder: 'Photo title'}] %>

<div class="fields">

  <div class="field" data-type="show-pictures">
    <%= form.label '', "Pictures", class: 'text -field-label -bold -dark' %>
    <ul class="list">
      <% album_photos.each do |photo| %>
        <li>
          <a href="<%= photo.external_url %>" target="_blank">
            <div class="picture" style="background-image: url('<%= photo.photo_sizes.where(size: PhotoSize::SMALL)[0].url %>')"></div>
          </a>
        </li>
      <% end %>
    </ul>
  </div>

  <%= render 'backend/shared/form/field_textarea', form: form, value: :description %>

  <%= render 'backend/shared/form/field_input', form: form, value: :author %>

  <%= render 'backend/shared/form/field_input', form: form, value: :licence %>

  <%= render 'backend/shared/form/field_datepicker', form: form, value: :publication_date %>

  <%= render 'backend/shared/form/field_tags', form: form, collection: tags %>
</div>