<%= render 'backend/shared/form/header', form: form,
  inputs: [{value: :title, title_placeholder: 'Photo title'}],
  preview_url: main_app.resource_path(form.object) %>

<div class="fields">

  <%= render 'backend/shared/form/field_fake_input', value: form.object.external_id,
    label_txt: "Flickr album id", note_txt: "Flickr id can't be changed",
    link_me_to: "https://www.flickr.com/photos/gridarendal/albums/#{form.object.external_id}" %>

  <%= render 'backend/shared/form/field_photos', form: form, label_txt: 'Pictures',
    photos: @album_photos, external_link: true %>

  <%= render 'backend/shared/form/field_textarea', form: form,
    value: :description, disabled: true,
    note_txt: "Description is maintained on Flickr." %>

  <%= render 'backend/shared/form/field_input', form: form, value: :author %>

  <%= render 'backend/shared/form/field_input', form: form, value: :licence,
    disabled: true, note_txt: "License is maintained on Flickr" %>

  <%= render 'backend/shared/form/field_datepicker', form: form,
    value: :publication_date %>

  <%= render 'backend/shared/form/field_tags', form: form, collection: tags %>

  <%= render 'backend/shared/form/field_association', form: form,
    value: :activities, collection: activities, label_method: :title,
    js_trigger_class: 'js-select-tags',
    note_txt: '(Choose related activities)' %>

  <%= render 'backend/shared/form/field_association', form: form,
    value: :publications, collection: publications, label_method: :title,
    js_trigger_class: 'js-select-tags',
    note_txt: '(Choose related publications)' %>

  <%= render 'backend/shared/form/field_association', form: form,
    value: :news_articles, collection: news_articles, label_method: :title,
    js_trigger_class: 'js-select-tags', note_txt: '(Choose related news articles)' %>
</div>
