<div class="l-items-index">
  <%= render 'activities', activities: @activities %>
</div>

<div class="l-items-detail">
  <h2> Edit</h2>
  <p><%= @activity.title || 'Activity' %></p>
  <%= simple_form_for @activity do |f| %>
    <%= render 'form', form: f, users: @users, partners: @partners,
      news_articles: @news_articles %>
    <div class="actions">
      <%=  f.submit  do %>
        <button>Update</button>
      <% end %>
    </div>
  <% end %>
</div>
