<h2>Activitys</h2>

<% if can?(:create, Activity) %>
  <%= link_to "New", new_activity_path %>
<% end %>

<ul>
  <% @activities.each do |activity| %>
    <li>
      <%= activity.title %>
      <%= link_to 'Edit', edit_activity_path(activity) %>
      <% if can?(:publish, activity) && activity.unpublished? %>
        |
        <%= link_to "Publish", publish_activity_path(activity), method: :patch %>
      <% end %>
      <% if can?(:unpublish, activity) && activity.published? %>
        |
        <%= link_to "Unpublish", unpublish_activity_path(activity), method: :patch %>
      <% end %>
    </li>
  <% end %>
</ul>
