<%= render 'backend/shared/form/header', form: form,
  inputs: [{value: :title, title_placeholder: 'Photo title'}],
  preview_url: main_app.medium_path(form.object) %>

<div class="fields">
  <%= render 'backend/shared/form/field_fake_input', value: album.title,
    label_txt: "Album", note_txt: "Album can't be changed", object: album %>

  <%= render 'backend/shared/form/field_input', form: form, value: :external_id,
    disabled: true, label_txt: "Flickr id",
    note_txt: "Flickr id can't be changed" %>

  <div class="field" data-type="picture">
    <%= form.label "Picture", class: 'text -field-label -bold -dark' %>
    <%= form.label '', class: 'fake-input' do %>
        <div class="tip">
          <a href="<%= form.object.external_url %>" target="_blank">
            <div class="current_picture" style="background-image: url('<%= thumbnail %>');"></div>
          </a>
        </div>
    <% end %>
  </div>

  <%= render 'backend/shared/form/field_textarea', form: form,
    value: :description, disabled: true,
    note_txt: "Description is maintained on Flickr." %>

  <%= render 'backend/shared/form/field_input', form: form, value: :author %>

  <%= render 'backend/shared/form/field_input', form: form, value: :licence,
    disabled: true, note_txt: "License is maintained on Flickr" %>

  <%= render 'backend/shared/form/field_datepicker', form: form,
    value: :publication_date, disabled: true,
    note_txt: "Publication date can't be changed" %>

  <%= render 'backend/shared/form/field_tags', form: form, collection: tags,
    disabled: true, note_txt: "Tags should be added on Flickr" %>
</div>
