<div class="l-header-single -about">
  <div class="overlay"></div>
  <%= render 'shared/menu' %>
  <div class="row">
    <div class="small-12 columns">
      <div class="title-block">
        <% breadcrumbs_links = [
          {'text' => 'About', 'link' => about_index_path}
        ] %>
        <%= render 'shared/breadcrumbs', links: breadcrumbs_links %>
      </div>
    </div>
  </div>
  <div class="section-menu">
    <div class="row">
      <div class="small-12 columns">
        <ul class="anchors">
          <% @sections.each do |section| %>
            <li class="text -section-menu js-anchor" data-section-belongs="<%= "section-#{section.id}" %>">
              <%= section.title %>
            </li>
          <% end %>
          <%= render 'shared/share' %>
        </ul>
      </div>
    </div>
  </div>
</div>

<% @sections.each_with_index do |section, index| %>
  <section class="l-main-content -about -color-7 <% if index === 0 %>-no-border<% end %>" data-section="<%= "section-#{section.id}" %>">
    <div class="row">
      <div class="small-12 column">
        <div class="text -title-event"><%= section.title %></div>
      </div>
    </div>
    <% if section.category === 'staff' %>
      <%= render 'staff', users: @users %>
    <% else %>
      <div class="row">
        <% if section.category.blank? %>
          <div class="small-12 column">
            <% if section.body.present? %>
              <div class="text -summary-alt"><%= raw section.body %></div>
            <% end %>
          </div>
        <% else %>
          <% case section.category %>
            <% when 'programmes' %>
              <%= render 'posts', posts: @programmes %>
            <% when 'vacancies' %>
              <%= render 'vacancies', vacancies: @vacancies %>
            <% when 'board' %>
              <%= render 'board', board_members: @board_members %>
            <% when 'annual-reports' %>
              <%= render 'posts', posts: @annual_reports %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </section>
<% end %>

<%= render 'shared/footer' %>
