<% avatar_url = if @user.avatar.exists?
                  @user.avatar
                else
                  asset_path('original/missing2.png')
                end %>

<div class="l-header-library -staff">
  <div class="overlay"></div>
  <%= render 'shared/menu' %>
  <div class="row">
    <div class="small-12 columns">
      <div class="title-block">
        <% breadcrumbs_links = [
          {text: 'About', link: about_index_path},
          {text: @user.full_name,
            edit_path: backend.edit_user_path(@user)}
        ] %>
        <%= render 'shared/breadcrumbs', links: breadcrumbs_links %>
        <div class="text -title-staff"><%= @user.full_name %></div>
        <div class="text -contact-staff"><strong><%= @user.current_position %></strong></div>
        <% if @user.phone.present? %>
          <div class="text -contact-staff"><strong>Phone:</strong> <%= @user.phone %></div>
        <% end %>
        <%= render 'social', user: @user %>
        <%= render 'shared/share', current_route: @current_route  %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <div class="-relativize">
        <div class="header-avatar" style="background-image: url('<%= avatar_url %>')"></div>
      </div>
    </div>
  </div>
</div>

<section class="l-main-content content -color-7">
  <div class="row">
    <div class="small-8 column">
      <div class="text -summary-alt"><%= raw(@user.description) %></div>
    </div>
  </div>
</section>

<% if @publications.any? %>
  <%= render 'shared/posts', collection: @publications, title: 'Publications',
    link_txt: 'View all publications',
    sectionClass: 'content -color-7' %>
<% end%>

<%= render 'shared/news', news: @news, sectionClass: 'content -color-7' %>

<% if(@user.video_id.present?) %>
    <%= render 'shared/video', video_id: @user.video_id, isFixed: true %>
<% end %>

<%= render 'shared/footer' %>
