<div class="item js_slide slide">
  <%= link_to item do %>
    <article class="c-card" data-card-type="<%= item.type.downcase %>">
      <% photo_url = if item.picture_file_name && item.picture.exists?
                       item.picture.url(:medium)
                     elsif item.media_content
                       item.media_content.photo_sizes.where(label: PhotoSize::MEDIUM).first.try(:url)
                     else
                       asset_path('original/missing2.png')
                     end %>
      <div class="card-pic" style="background-image: url('<%= photo_url %>')"></div>
      <div class="card-description">
        <h3 class="text -title-card"><%= item.title %></h3>
        <p class="text -summary"><%= item.short_description %></p>
        <p class="card-meta">
          <% if item.is_a?(Publication) && item.content_type %>
            <span class="text -meta"><%= item.content_type.title %></span>
        <% end %>
          <% if item.is_a?(Publication) && item.content_date %>
            <span class="text -meta -right"><%= time_ago_in_words(item.content_date) %></span>
        <% end %>
        </p>

      </div>
    </article>
  <% end %>
</div>
