<div class="row">
  <div class="small-12 column">
    <div class="c-filters">
      <div class="maximizer js-filters-maximizer">
        <svg class="icon">
          <use class="-show" xlink:href="#icon-filter"></use>
          <use class="-collapse" xlink:href="#icon-filter-collapse"></use>
        </svg>
      </div>
      <div class="container">
        <%= render 'shared/filters/select', js_trigger: 'js-dropdown-order-by', title: "ORDERED BY", placeholder: "Order by" %>
        <%= render 'shared/filters/select', js_trigger: 'js-dropdown-filter-by-type', title: "FILTER BY TYPE", placeholder: "Filter by type" %>
        <%= render 'shared/filters/tags_select', js_trigger: 'js-dropdown-filter-by-tags', title: "FILTER BY TAGS", placeholder: "Filter by tags" %>
        <%= render 'shared/filters/search', placeholder: "Search media" %>
      </div>
      <% if (@years.present?) %>
        <div class="container">
          <%= render 'shared/filters/years', js_trigger: 'js-years-filter', years: @years %>
        </div>
      <% end %>
    </div>
  </div>
</div>
