<%
  social_links = [
    {key: "twitter", title: "Twitter", url: "https://twitter.com/GRIDArendal"},
    {key: "facebook", title: "Facebook", url: "https://www.facebook.com/ArendalGRID/"},
    {key: "instagram", title: "Instagram", url: "https://www.instagram.com/gridarendal/"},
    {key: "flickr", title: "Flickr", url: "https://www.flickr.com/photos/gridarendal/"},
    {key: "linkedin", title: "LinkedIn", url: "https://www.linkedin.com/company/109106"},
    {key: "youtube", title: "Youtube", url: "https://www.youtube.com/user/GridArendalNorway"},
    {key: "vimeo", title: "Vimeo", url: "https://vimeo.com/gridarendal"},
    {key: "email", title: "Email", url: "mailto:grid@grida.no"},
  ]
%>
<div class="l-footer">
  <div class="overlay"></div>
  <div class="footer-slider"></div>
  <div class="links">
    <div class="text -menu -light">Contact Us</div>
    <div class="social-links">
      <% social_links.each do |link| %>
        <a href="<%= link[:url] %>" target="_blank" title="<%= link[:title] %>">
          <svg class="icon">
            <use xlink:href="#icon-rrss-<%= link[:key] %>"></use>
          </svg>
        </a>
      <% end %>
    </div>
    <ul class="info-links text -meta -light">
      <li><%= Time.now.year %> GRID Arendal</li>
      <li><%= link_to "Disclaimer", disclaimer_about_index_path %></li>
      <li><a href="#" id="feedback-trigger">Feedback</a></li>
    </ul>
  </div>
</div>
