<% picture_url = case media.type
                   when MediaContent::TYPE_ALBUM
                     photo = media.photos.order("id ASC").first
                     photo ? photo.photo_sizes.where(label: PhotoSize::MEDIUM).first.try(:url) : nil
                   when MediaContent::TYPE_PHOTO, MediaContent::TYPE_GRAPHIC
                     media.photo_sizes.where(label: PhotoSize::MEDIUM).first.try(:url)
                   when MediaContent::TYPE_COLLECTION
                     photo = media.graphics.order("id ASC").first
                     photo ? photo.photo_sizes.where(label: PhotoSize::MEDIUM).first.try(:url) : nil
                   else
                     nil
                 end

  video_provider = nil
  video_id = nil
  if [MediaContent::TYPE_VIDEO, MediaContent::TYPE_VIDEO_COLLECTION].include?(media.type)
    video = media.type == MediaContent::TYPE_VIDEO_COLLECTION ? media.videos.order("id ASC").first : media
    if video.present? && video.external_url.include?(Video::PROVIDER_YOUTUBE)
      video_provider = Video::PROVIDER_YOUTUBE
      video_id = video.external_url.split('=').last
    elsif video.present? && video.external_url.include?(Video::PROVIDER_VIMEO)
      video_provider = Video::PROVIDER_VIMEO
      video_id = video.external_url.split('/').last
    end
  end

  photos_count = media.type == MediaContent::TYPE_ALBUM ? media.photos.size : 0
  videos_count = media.type == MediaContent::TYPE_VIDEO_COLLECTION ? media.videos.size : 0
  graphics_count = media.type == MediaContent::TYPE_COLLECTION ? media.graphics.size : 0
  needSteps = (photos_count + videos_count + graphics_count) > 1
  meta = []
  if photos_count == 1
    meta.push("1 photo")
  elsif photos_count > 0
    meta.push("#{photos_count} photos")
  end
  if videos_count == 1
    meta.push("1 video")
  elsif videos_count > 0
    meta.push("#{videos_count} videos")
  end
%>
<div class="item js_slide slide">
  <%= link_to medium_path(media) do %>
    <article class="c-card <% if needSteps %>-card-steps<% end %>" data-card-type="media">
      <div class="card-pic" <% if video_id.present? %>data-video-id="<%= video_id %>" data-video-provider="<%= video_provider %>"<% else %>style="background-image: url('<%= picture_url %>')"<% end %>></div>
      <div class="card-description">
        <h3 class="text -title-card-small"><%= media.title %></h3>
        <p class="card-meta">
          <span class="text -meta"><%= meta.join(" | ") %></span>
          <% if media.type == MediaContent::TYPE_ALBUM %>
            <span class="icons">
              <svg class="icon">
                <use xlink:href="#icon-media_photo_library"></use>
              </svg>
            </span>
          <% end %>
        </p>
      </div>
    </article>
  <% end %>
</div>
