<% picture_url = case media.type
                   when MediaContent::TYPE_ALBUM, MediaContent::TYPE_COLLECTION
                     photo = media.items.order("id ASC").first
                     photo ? photo.photo_sizes.where(label: PhotoSize::MEDIUM).first.try(:url) : nil
                   when MediaContent::TYPE_PHOTO, MediaContent::TYPE_GRAPHIC
                     media.photo_sizes.where(label: PhotoSize::MEDIUM).first.try(:url)
                   else
                     nil
                 end

  video_provider = nil
  video_id = nil
  if [MediaContent::TYPE_VIDEO, MediaContent::TYPE_VIDEO_COLLECTION].include?(media.type)
    video_provider = media.video_provider
    video_id = media.video_id
  end

  meta, needSteps = if media.single?
           ["", false]
         else
           [pluralize(media.items.size, media.item_title), (media.items.size > 1)]
         end
%>
<div class="item js_slide slide">
  <%= link_to resource_path(media) do %>
    <article class="c-card <% if needSteps %>-card-steps<% end %>" data-card-type="media">
      <div class="card-pic js-video-thumbnail" <% if video_id.present? %>data-video-id="<%= video_id %>" data-video-provider="<%= video_provider %>"<% else %>style="background-image: url('<%= picture_url %>')"<% end %>></div>
      <% if media.type == MediaContent::TYPE_VIDEO %>
        <div class="card-player">
          <svg class="icon">
            <use xlink:href="#icon-play"></use>
          </svg>
        </div>
      <% end %>
      <div class="card-description">
        <h3 class="text -title-card-small"><%= media.title %></h3>
        <p class="card-meta">
          <span class="text -meta"><%= meta %></span>
          <span class="icons">
            <svg class="icon">
              <use xlink:href="#icon-media_<%= svg_icon_for(media) %>"></use>
            </svg>
          </span>
        </p>
      </div>
    </article>
  <% end %>
</div>
