<div class="row">
  <div class="c-menu small-12 columns">
    <ul class="text -menu">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Activities", activities_path %></li>
      <li><%= link_to "Publications", publications_path %></li>
      <li><%= link_to "Media Library", "#" %></li>
      <li><%= link_to "News", news_index_path %></li>
      <li><%= link_to "About", about_index_path %></li>
    </ul>
    <div class="search">
      <svg class="icon">
        <use xlink:href="#icon-search"></use>
      </svg>
    </div>
  </div>
</div>
