<div class="c-mobile-menu">
  <ul class="text -menu -light">
    <li class="js-btn-close">
      <svg class="icon">
        <use xlink:href="#icon-close"></use>
      </svg>
    </li>
    <li><%= link_to "Activities", activities_path %></li>
    <li><%= link_to "Publications", publications_path %></li>
    <li><%= link_to "Media Library", media_path %></li>
    <li><%= link_to "News", news_index_path %></li>
    <li><%= link_to "About", about_index_path %></li>
  </ul>
</div>
