<ul class="basic-nav">
  <li><%= link_to "Home", root_path %></li>
  <li><%= link_to "Activities", activities_path %></li>
  <li><%= link_to "Publications", publications_path %></li>
  <li><%= link_to "Media Library", "#" %></li>
  <li><%= link_to "News", news_index_path %></li>
  <li><%= link_to "About", about_index_path %></li>
</ul>
