<%
  sectionClass ||= ''
  links ||= nil
  title ||= "Parners & Links"
%>
<section class="l-main-content -partners <%= sectionClass %>" data-section="partners">
  <div class="row">
    <div class="small-12 columns">
      <div class="c-main-content-header">
        <h2 class="text -title-block"><%= title %></h2>
      </div>
    </div>
    <div class="small-12 large-6 columns">
      <div class="text -summary-alt">
        GRID-Arendal´s activities are nearly always a cooperative undertaking
        made possible through collaboration with our various partners, and
        donors.
      </div>
      <% if links.present? %>
        <ul class="external-links">
          <% links.each do |link| %>
            <%
                if link.is_a?(Document)
                  icon_id = 'icon-pdf'
                  url = link.document.url
                else
                  case link.label.downcase.strip
                  when 'facebook'
                    icon_id = 'icon-rrss-facebook'
                    url = link.url
                  when 'twitter'
                    icon_id = 'icon-rrss-twitter'
                    url = "https://twitter.com/#{link.url}"
                  else
                    icon_id = 'icon-rrss_web'
                    url = link.url
                  end
                end
            %>
            <li>
              <%= link_to url, target: '_blank' do %>
                <svg class="icon">
                  <use xlink:href="#<%= icon_id %>"></use>
                </svg>
              <span class="text"><%= link.label %></span><% end %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
    <% if partners.any? %>
      <div class="small-12 large-6 columns">
        <div class="logos">
          <% partners.each do |partner| %>
            <%= link_to partner.web_url || "#" do %>
              <span><img src="<%= partner.logo.exists? ? partner.logo.url : asset_path('original/missing2.png') %>"></span>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</section>
