<section class="l-main-content" data-section="posts">

  <div class="row">
    <div class="small-12 columns">
      <div class="c-main-content-header">
        <h2 class="text -title-block">
          <% if current_page?('/') %>
            Featured <%= title %>
          <% else %>
            Related <%= title %>
          <% end %>
        </h2>
        <p class="text -view-all">
          <%= link_to link do %>
            <span>
              View all <%= title %>
            </span>
            <svg class="icon -arrow">
              <use xlink:href="#icon-arrow"></use>
            </svg>
          <% end %>
        </p>
      </div>
    </div>
  </div>

  <div class="c-slider slider js_slider">
    <div class="frame js_frame">
      <ul class="slides js_slides">
        <% collection.each do |post| %>
          <li class="js_slide slide">
            <% photo_url = if post.picture.present?
                             post.picture.url(:medium)
                           elsif post.media_content
                             post.media_content.mediable_photo_url
                           else
                             "/assets/original/missing2.png"
                           end %>
            <%= link_to post do %>
              <article class="c-card">
                <div class="card-pic" style="<%= "background-image: url('#{photo_url}')" %>"></div>
                <div class="card-descrition">
                  <h3 class="text -title-card"><%= post.title %></h3>
                  <p class="text -summary"><%= post.short_description %></p>
                  <p class="text -meta"><%= time_ago_in_words(post.content_date) if post.content_date %></p>
                </div>
              </article>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

</section>
