<% sectionClass ||= '' %>
<% section ||= 'posts' %>

<section class="l-main-content <%= sectionClass %>" data-section="<%= section %>">
  <div class="row">
    <div class="small-12 columns">
      <div class="c-main-content-header">
        <h2 class="text -title-block"><%= title %></h2>
        <% if(defined? link) %>
          <p class="text -view-all">
            <%= link_to link do %>
              <span>
                <%= defined?(link_txt) ? link_txt : 'View all' %>
              </span>
                <svg class="icon -arrow">
                  <use xlink:href="#icon-arrow"></use>
                </svg>
            <% end %>
          </p>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-12 small-centered columns">
      <div class="c-slider slider js_slider" data-slider-type="card">
        <div class="frame js_frame">
          <div class="masonry-layout masonry-1-1-2-3 slides js_slides" data-columns="3">
            <% collection.each do |item| %>
              <%= render 'shared/content_card', item: item %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
