<%
  picture_url = nil
  is_vertical = false
  video_provider = nil
  video_id = nil

  if ![MediaContent::TYPE_VIDEO].include?(media.type)
    photo = if media.type == MediaContent::TYPE_COLLECTION
                    media.graphics.first
                  elsif media.single?
                    media
                  else
                    media.photos.first
                  end
    biggest = photo.biggest_size
    is_vertical = biggest.is_vertical?
    picture_url = biggest.url
  else
    video_provider = media.video_provider
    video_id = media.video_id
  end
%>
<div class="js_slide slide <% if index == 0 %>active<% end %>">
  <div id="<%= index %>" class="c-related-media-item js-video-thumbnail <% if is_vertical %>-vertical<% end %>" data-link="<%= medium_path(media) %>" <% if video_id.present? %>data-video-id="<%= video_id %>" data-video-provider="<%= video_provider %>"<% else %>style="background-image: url('<%= picture_url %>')"<% end %>>
    <% if media.type == MediaContent::TYPE_VIDEO %>
      <div class="player">
        <svg class="icon">
          <use xlink:href="#icon-play"></use>
        </svg>
      </div>
    <% end %>
    <div class="text -image-cap name"><%= media.title %></div>
    <div class="text -related-image-meta meta">
      <%= media.author.present? ? media.author + ' | ' : ''%>
      <%= media.publication_date.strftime("%d %b %Y") %></div>
  </div>
</div>
