<section class="l-main-content -media-library">
  <div class="row">
    <div class="small-12 columns">
      <div class="c-main-content-header">
        <h2 class="text -title-block">Related Media</h2>
        <p class="text -view-all">
          <%= link_to root_path do %>
            <span>
              View all media
            </span>
              <svg class="icon -arrow">
                <use xlink:href="#icon-arrow"></use>
              </svg>
          <% end %>
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-12 small-centered columns -fix">
      <div class="masonry-layout">
        <%= render 'shared/media-card', picture: 'http://www.audubon.org/sites/default/files/styles/engagement_card/public/sfw_apa_2013_28342_232388_briankushner_blue_jay_kk_high.jpg', title: "Bear Island, Svalbard", link: "#" %>
        <%= render 'shared/media-card', picture: 'http://www.audubon.org/sites/default/files/styles/engagement_card/public/sfw_apa_2013_28342_232388_briankushner_blue_jay_kk_high.jpg', title: "Life and culture in Uummannaq, Greenland", link: "#" %>
        <%= render 'shared/media-card', picture: 'http://www.audubon.org/sites/default/files/styles/engagement_card/public/sfw_apa_2013_28342_232388_briankushner_blue_jay_kk_high.jpg', title: "Traditional Culture and Dog-Sledding in Greenland", link: "#" %>
        <%= render 'shared/media-card', picture: 'http://www.audubon.org/sites/default/files/styles/engagement_card/public/sfw_apa_2013_28342_232388_briankushner_blue_jay_kk_high.jpg', title: "Norwegian Landscapes and biodiversity", link: "#" %>
      </div>
    </div>
  </div>
</section>
