<div class="filter <%= js_trigger %>">
  <div class="type text -filter-title"><%= title %></div>
  <span class="speaker">
    <span class="text -filter"><%= placeholder %></span>
    <svg class="icon">
      <use xlink:href="#icon-dropdown-arrow-down"></use>
    </svg>
  </span>
  <div class="dropdown">
    <div class="type text -filter-title"><%= title %></div>
    <ul class="list">
      <li class="text -filter" data-value="Popularity">Popularity</li>
      <li class="text -filter" data-value="Rapid Response Assessments">Rapid Response Assessments</li>
      <li class="text -filter" data-value="Last published">Last published</li>
      <li class="text -filter" data-value="Mountains Outlook">Mountains Outlook</li>
      <li class="text -filter" data-value="Environment Atlas">Environment Atlas</li>
      <li class="text -filter" data-value="Environment Times">Environment Times</li>
      <li class="text -filter" data-value="Environment and Security">Environment and Security</li>
      <li class="text -filter" data-value="Story Maps">Story Maps</li>
      <li class="text -filter" data-value="Brochures and Flyers">Brochures and Flyers</li>
      <li class="text -filter" data-value="Web & CD-ROM productions">Web & CD-ROM productions</li>
      <li class="text -filter" data-value="E-Books (Interactive)">E-Books (Interactive)</li>
      <li class="text -filter" data-value="Partner Publications">Partner Publications</li>
    </ul>
  </div>
  <select class="text -filter">
    <option value="" disabled selected><%= placeholder %></option>
    <option value="Popularity">Popularity</option>
    <option value="Rapid Response Assessments">Rapid Response Assessments</option>
    <option value="Last published">Last published</option>
    <option value="Mountains Outlook">Mountains Outlook</option>
    <option value="Environment Atlas">Environment Atlas</option>
    <option value="Environment Times">Environment Times</option>
    <option value="Environment and Security">Environment and Security</option>
    <option value="Story Maps">Story Maps</option>
    <option value="Brochures and Flyers">Brochures and Flyers</option>
    <option value="Web & CD-ROM productions">Web & CD-ROM productions</option>
    <option value="E-Books (Interactive)">E-Books (Interactive)</option>
    <option value="Partner Publications">Partner Publications</option>
  </select>
</div>