<% sectionClass ||= '' %>
<section class="l-main-content <%= sectionClass %>" data-section="users">
  <div class="row">
    <div class="small-12 columns">
      <div class="c-main-content-header">
        <h2 class="text -title-block">Staff</h2>
        <p class="text -view-all">
          <%= link_to staff_index_path do %>
            <span>
              Know our complete staff
            </span>
            <svg class="icon -arrow">
              <use xlink:href="#icon-arrow"></use>
            </svg>
          <% end %>
        </p>
      </div>
    </div>
  </div>
  <% lead_user ||= nil %>
  <ul class="row">
    <% if lead_user %>
      <li class="small-6 medium-3 large-2 columns">
        <div class="c-staff">
          <% avatar_url = if lead_user.avatar.exists?
                            lead_user.avatar(:medium)
                          else
                            asset_path('original/missing2.png')
                          end %>
          <div class="staff-pic" style="background-image: url('<%= avatar_url %>')"></div>
          <p class="text -author"><%= lead_user.display_name %></p>
          <p class="text -meta"><%= lead_user.current_position %></p>
        </div>
      </li>
    <% end %>
    <% users.each do |user| %>
      <li class="small-6 medium-3 large-2 columns">
        <div class="c-staff">
          <% avatar_url = if user.avatar.exists?
                            user.avatar(:medium)
                          else
                            asset_path('original/missing2.png')
                          end %>
          <div class="staff-pic" style="background-image: url('<%= avatar_url %>')"></div>
          <p class="text -author"><%= user.display_name %></p>
          <p class="text -meta"><%= user.current_position %></p>
        </div>
      </li>
    <% end %>
  </ul>
</section>
