<%= render 'backend/shared/form/header', form: form,
  inputs: [{value: :title, title_placeholder: 'Event title'}],
  preview_url: false %>

<div class="fields">

  <%= render 'backend/shared/form/field_upload_img', form: form,
    value: :background_image, label_txt: 'Background image',
    have_picture: have_picture, picture_url: picture_url %>

  <%= render 'backend/shared/form/field_input', form: form, value: :web_url %>

  <%= render 'backend/shared/form/field_textarea', form: form,
    value: :description %>

  <%= render 'backend/shared/form/field_association', form: form,
    value: :partners, collection: partners, label_method: :name,
    js_trigger_class: 'js-select-tags' %>

  <%= render 'backend/shared/form/field_tags', form: form, collection: tags %>

  <%= render 'backend/shared/form/field_association', form: form,
    value: :activities, collection: activities, label_method: :title,
    js_trigger_class: 'js-select-tags',
    note_txt: '(Choose related activities)' %>

  <%= render 'backend/shared/form/field_association', form: form,
    value: :publications, collection: publications, label_method: :title,
    js_trigger_class: 'js-select-tags',
    note_txt: '(Choose related publications)' %>

  <%= render 'backend/shared/form/field_association', form: form, value: :users,
    collection: users, label_method: :display_name, label: "Staff",
    js_trigger_class: 'js-select-tags' %>

  <%= render 'backend/shared/form/field_checkbox', form: form,
    value: :active %>
</div>
