<% tabs = [
  {"title" => "Albums", "key" => "albums", "path" => albums_path},
  {"title" => "Pictures", "key" => "photos", "path" => photos_path}
] %>
<div class="tabs">
  <% tabs.each do |tab| %>
    <a href="<%= tab['path'] %>">
      <div class="tab text -main-title -light <% if tab['key'] == key %>-selected<% end %>" data-type="<%= tab['key'] %>"><%= tab['title'] %></div>
    </a>
  <% end %>
</div>

<div class="buttons-bar">
  <% if controller_name == 'Album' %>
    <%= link_to "Fetch from flickr", [:fetch, controller_name],
      class: 'btn -light -no-border -create-new js-create-new' %>
  <% end %>
  <div class="btn">
    <svg class="icon">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-search"></use>
    </svg>
  </div>
  <div class="btn">
    <svg class="icon">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-sort"></use>
    </svg>
  </div>
</div>

<ul class="items-list">
  <% items.each do |media_content| %>
    <%= render 'backend/shared/index_item', item: media_content, title: media_content.title %>
  <% end %>
</ul>
