<% tabs = case controller_name
          when 'albums', 'photos'
            [
              {title: "Albums", key: "albums", path: albums_path,
               count: Album.count},
               {title: "Pictures", key: "photos", path: photos_path,
                count: Photo.count}
            ]
          when 'video_collections', 'videos'
            [
              {title: "Video Collections", key: "video_collections", path: video_collections_path,
               count: VideoCollection.count},
              {title: "Videos", key: "videos", path: videos_path,
               count: Video.count}
            ]
          when 'collections', 'graphics'
            [
              {title: "Collections", key: "collections", path: collections_path,
               count: Collection.count},
               {title: "Graphics", key: "graphics", path: graphics_path,
                count: Graphic.count}
            ]
          end
 %>
<div class="tabs">
  <% tabs.each do |tab| %>
    <a href="<%= tab[:path] %>">
      <div class="tab text -main-title -light <% if tab[:key] == key %>-selected<% end %>" data-type="<%= tab[:key] %>">
        <svg class="icon">
          <use xlink:href="#icon-<%= tab[:key] %>"></use>
        </svg>
        <div class="counter"><%= tab[:count] %></div>
      </div>
    </a>
  <% end %>
</div>

<div class="buttons-bar">
  <% if ['albums', 'collections'].include?(controller_name) %>
    <%= link_to "Import from flickr", [:new, controller_name.singularize],
      class: 'btn -light -no-border -create-new js-create-new' %>
  <% end %>
  <% if ['video_collections'].include?(controller_name) && can?(:create, VideoCollection) %>
    <%= link_to "Create New", new_video_collection_path, class: 'btn -light -no-border -create-new js-create-new' %>
  <% end %>
  <% if ['videos'].include?(controller_name) && can?(:create, Video) %>
      <%= link_to "Create New", new_video_path, class: 'btn -light -no-border -create-new js-create-new' %>
  <% end %>
  <%= render 'backend/shared/index_items_search_and_filter' %>
</div>

<ul class="items-list">
  <% items.each do |media_content| %>
    <%= render 'backend/shared/index_item',
      item: media_content,
      title: media_content.title,
      selected: action_name != "index" && params[:id] == media_content.id.to_s
    %>
  <% end %>
</ul>
