<% if @event %>
  <% photo_url = if @event.background_image_file_name.present?
                   @event.background_image
                 else
                   nil
                 end %>
  <div class="row">
    <div class="small-12 columns">
      <div class="c-events-modal">
        <div class="event-container" style="background-image: url(<%= photo_url %>);">
          <svg class="close-btn icon js-btn-events-modal">
            <use xlink:href="#icon-close"></use>
          </svg>
          <div class="event-info">
            <h3 class="text -title-single-alt"><%= @event.title %></h3>
            <div class="description text -event-description"><%= raw @event.description %></div>
            <div class="btn -dark">
              <%= link_to "Find out more", @event %>
            </div>
            <% if @event.partners.any? %>
              <div class="logos">
                <% @event.partners.each do |partner| %>
                  <%= link_to partner.web_url || "#" do %>
                    <img src="<%= partner.logo.exists? ? partner.logo.url : asset_path('original/missing2.png') %>" class="logo">
                  <% end %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
