<div class="l-header-home">
  <div class="overlay"></div>
  <%= render 'shared/menu' %>
  <div class="cta">
    <div class="logo">
      <svg class="icon">
        <use xlink:href="#icon-logo"></use>
      </svg>
    </div>
    <div class="cta-desktop text -cta">
      GRID-Arendal works closely with the United Nations Environment Programme (UNEP),
      other UN agencies and partners around the world to connect science to policy.
      Our goal is to reduce the time between when new knowledge is produced and when it is used.
      We believe it’s important influence thinking and action at the global level
      because our greatest challenges require collective action.
    </div>
    <div class="media">
      <svg class="icon">
        <use xlink:href="#icon-play"></use>
      </svg>
    </div>
  </div>
</div>

<div class="cta-mobile text -cta">
  GRID-Arendal works closely with the United Nations Environment Programme (UNEP),
  other UN agencies and partners around the world to connect science to policy.
  Our goal is to reduce the time between when new knowledge is produced and when it is used.
  We believe it’s important influence thinking and action at the global level
  because our greatest challenges require collective action.
</div>

<% if @event %>
  <div>
    <h3><%= @event.title %></h3>
    <%= @event.description %>
    <br />
    <%= link_to "Learn more", @event.web_url %>
    <% if @event.partner %>
      <p>sponsored by <%= link_to @event.partner.name, @event.partner.web_url %></p>
    <% end %>
  </div>
<% end %>

<%= render 'shared/news' %>

<%= render 'shared/related_posts', collection: @activities, title: 'activities', link: activities_path %>

<%= render 'shared/related_posts', collection: @publications, title: 'publications', link: publications_path %>

<%= render 'shared/featured_media' %>

<%= render 'shared/users' %>

<%= render 'shared/footer' %>
