<% content_for :social_cards do %>
  <%= render 'shared/social_cards', title: @section.title,
    description: @section.social_description %>
<% end %>

<div class="l-header-home">
  <div class="overlay"></div>
  <div class="header-slider"></div>
  <%= render 'event_modal' %>
  <%= render 'shared/video', video_id: 110577670 %>
  <%= render 'shared/menu' %>
  <div class="cta">
    <div class="logo">
      <svg class="icon">
        <use xlink:href="#icon-logo"></use>
      </svg>
    </div>
    <div class="cta-desktop text -cta">
      <%= raw @section.description %>
    </div>
    <div class="media js-video-player-play">
      <svg class="icon">
        <use xlink:href="#icon-play"></use>
      </svg>
    </div>
  </div>
</div>

<div class="cta-mobile text -cta">
  <%= raw @section.description %>
</div>

<%= render 'shared/news', news: @news, sectionClass: 'home' %>

<%= render 'shared/posts', collection: @activities, title: 'Featured activities',
  link_txt: 'View all activities',
  link: activities_path, sectionClass: 'home' %>

<%= render 'shared/posts', collection: @publications, title: 'Featured publications',
  link_txt: 'View all publications',
  link: publications_path, sectionClass: 'home' %>

<%= render 'shared/related_media', media_contents: @media_contents, title: 'Featured media', link: resources_path, sectionClass: 'home' %>

<%= render 'shared/users', users: @users, sectionClass: 'home' %>

<%= render 'shared/footer' %>
