<div class="l-header">
  <div class="overlay"></div>
  <%= render 'shared/menu' %>
  <div class="cta">
    <div class="logo">
      <svg class="icon">
        <use xlink:href="#icon-logo"></use>
      </svg>
    </div>
    <div class="cta-desktop text -cta">
      GRID-Arendal works closely with the United Nations Environment Programme (UNEP),
      other UN agencies and partners around the world to connect science to policy.
      Our goal is to reduce the time between when new knowledge is produced and when it is used.
      We believe it’s important influence thinking and action at the global level
      because our greatest challenges require collective action.
    </div>
    <div class="media">
      <svg class="icon">
        <use xlink:href="#icon-play"></use>
      </svg>
    </div>
  </div>
</div>

<div class="cta-mobile text -cta">
  GRID-Arendal works closely with the United Nations Environment Programme (UNEP),
  other UN agencies and partners around the world to connect science to policy.
  Our goal is to reduce the time between when new knowledge is produced and when it is used.
  We believe it’s important influence thinking and action at the global level
  because our greatest challenges require collective action.
</div>

<% if @event %>
  <div>
    <h3><%= @event.title %></h3>
    <%= @event.description %>
    <br />
    <%= link_to "Learn more", @event.web_url %>
    <% if @event.partner %>
      <p>sponsored by <%= link_to @event.partner.name, @event.partner.web_url %></p>
    <% end %>
  </div>
<% end %>

<section class="l-main-content">
  <div class="row">
    <div class="small-12 columns">
      <div class="c-main-content-header">
        <h2 class="text -title-block">Latest news</h2>
        <p class="text -view-all"><%= link_to "View all news", news_index_path %></p>
      </div>
    </div>
  </div>

  <!-- sample for c-card, remove from here and add it to where it belongs -->
  <div class="row">
    <div class="small-12 medium-3 columns">
      <article class="c-card">
        <div class="card-pic"></div>
        <div class="card-descrition">
          <h3 class="text -title-card">My awesome title</h3>
          <p class="text -summary">This is some info related to this card</p>
          <p class="text -meta">1 week ago</p>
        </div>
      </article>
    </div>
  </div>
  <!--  END -->

  <ul class="row">
    <% @articles.each do |article| %>
      <li class="small-12 medium-3 columns">
        <article class="c-card">
          <div class="card-pic"></div>
          <div class="card-descrition">
            <h3 class="text -title-card">My awesome title</h3>
            <p class="text -summary">This is some info related to this card</p>
            <p class="text -meta">1 week ago</p>
          </div>
        </article>
      </li>
    <% end %>
  </ul>
</section>

<section class="l-main-content">

  <div class="row">
    <div class="small-12 columns">
      <div class="c-main-content-header">
        <h2 class="text -title-block">Featured activities</h2>
        <p class="text -view-all"><%= link_to "View all activities", activities_path %></p>
      </div>
    </div>
  </div>

   <!-- sample for c-card, remove from here and add it to where it belongs -->
  <div class="row">
    <div class="small-12 medium-4 columns">
      <article class="c-card">
        <div class="card-pic"></div>
        <div class="card-descrition">
          <h3 class="text -title-card">My awesome title</h3>
          <p class="text -summary">This is some info related to this card</p>
          <p class="text -meta">1 week ago</p>
        </div>
      </article>
    </div>
  </div>
  <!-- end -->

  <ul class="row">
    <% @activities.each do |activity| %>
      <li class="small-12 medium-4 columns">
        <%= link_to activity.title, activity %>
      </li>
    <% end %>
  </ul>

</section>


<section class="l-main-content">
  <div class="row">
    <div class="small-12 columns">
      <div class="c-main-content-header">
        <h2 class="text -title-block">Featured Publications</h2>
        <p class="text -view-all"><%= link_to "View all publications", publications_path %></p>
      </div>
    </div>
  </div>

   <!-- sample for c-card, remove from here and add it to where it belongs -->
  <div class="row">
    <div class="small-12 medium-4 columns">
      <article class="c-card">
        <div class="card-pic"></div>
        <div class="card-descrition">
          <h3 class="text -title-card">My awesome title</h3>
          <p class="text -summary">This is some info related to this card</p>
          <p class="text -meta">1 week ago</p>
        </div>
      </article>
    </div>
  </div>
  <!-- end -->

  <ul class="row">
    <% @publications.each do |publication| %>
      <li class="small-12 medium-4 columns">
        <%= link_to publication.title, publication %>
      </li>
    <% end %>
  </ul>
</section>

<section class="l-main-content">
  <div class="row">
    <div class="small-12 columns">
      <div class="c-main-content-header">
        <h2 class="text -title-block">Featured Media</h2>
        <p class="text -view-all"></p>
      </div>
    </div>
  </div>

  <!-- slider -->
</section>


<section class="l-main-content">
  <div class="row">
    <div class="small-12 columns">
      <div class="c-main-content-header">
        <h2 class="text -title-block">Staff</h2>
        <p class="text -view-all"><%= link_to "Know our complete staff", staff_index_path %></p>
      </div>
    </div>
  </div>

  <ul class="row">
    <!-- sample for c-card, remove from here and add it to where it belongs -->
    <li class="small-6 medium-4 large-2 columns">
      <div class="c-staff">
        <div class="staff-pic"></div>
        <p class="text -author">Name And Second Name</p>
        <p class="text -meta">Position</p>
      </div>
    </li>
    <!-- end -->

    <% @users.each do |user| %>
      <li class="small-6 medium-3 large-2 columns">
        <div class="c-staff">
          <div class="staff-pic" style="background-image:src(<%= image_tag(user.avatar) %>)"></div>
          <p class="text -author"><%= user.display_name %></p>
          <p class="text -meta"><%= user.current_position %></p>
        </div>
      </li>
    <% end %>
  </ul>

</section>

<%= render 'shared/footer' %>
