<div class="l-header-home">
  <div class="overlay"></div>
  <div class="header-slider"></div>
  <%= render 'event_modal' %>
  <%= render 'shared/menu' %>
  <div class="cta">
    <div class="logo">
      <svg class="icon">
        <use xlink:href="#icon-logo"></use>
      </svg>
    </div>
    <div class="cta-desktop text -cta">
      <%= @section.description %>
    </div>
    <div class="media">
      <svg class="icon">
        <use xlink:href="#icon-play"></use>
      </svg>
    </div>
  </div>
</div>

<div class="cta-mobile text -cta">
  <%= @section.description %>
</div>

<%= render 'shared/news', news: @news, sectionClass: 'home' %>

<%= render 'shared/posts', collection: @activities, title: 'activities', link: activities_path, sectionClass: 'home' %>

<%= render 'shared/posts', collection: @publications, title: 'publications', link: publications_path, sectionClass: 'home' %>

<%= render 'shared/related_media', media_contents: @media_contents, title: 'Featured media', sectionClass: 'home' %>

<%= render 'shared/users', users: @users, sectionClass: 'home' %>

<%= render 'shared/footer' %>
