<div class="l-header">
  <%= render 'shared/menu' %>
</div>

<% if @event %>
  <div>
    <h3><%= @event.title %></h3>
    <%= @event.description %>
    <br />
    <%= link_to "Learn more", @event.web_url %>
    <% if @event.partner %>
      <p>sponsored by <%= link_to @event.partner.name, @event.partner.web_url %></p>
    <% end %>
  </div>
<% end %>

<div class="l-main-content">
  <div class="row">
    <div class="small-12 columns">
      <div class="c-main-content-header">
        <h2 class="text -title-block">Latest news</h2>
        <p class="text -view-all"><%= link_to "View all news", news_index_path %></p>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- sample for c-card, remove from here and add it to where it belongs -->
    <div class="small-12 medium-4 columns">
      <article class="c-card">
        <div class="card-pic"></div>
        <div class="card-descrition">
          <h3 class="text -title-card">My awesome title</h3>
          <p class="text -summary">This is some info related to this card</p>
          <p class="text -meta">1 week ago</p>
        </div>
      </article>
    </div>
    <!--  END -->

    <% @articles.each do |article| %>
      <div class="small-12 medium-4 columns">
        <article class="c-card">
          <div class="card-pic"></div>
          <div class="card-descrition">
            <h3 class="text -title-card">My awesome title</h3>
            <p class="text -summary">This is some info related to this card</p>
            <p class="text -meta">1 week ago</p>
          </div>
        </article>
      </div>
    <% end %>

  </div>
</div>

<div class="l-main-content">

  <div class="row">
    <div class="small-12 columns">
      <div class="c-main-content-header">
        <h2 class="text -title-block">Featured activities</h2>
        <p class="text -view-all"><%= link_to "View all activities", activities_path %></p>
      </div>
    </div>
  </div>

  <div class="row">
    <ul>
      <% @activities.each do |activity| %>
        <li class="small-12 medium-3 columns">
          <%= link_to activity.title, activity %>
        </li>
      <% end %>
    </ul>
  </div>
</div>


<div class="l-main-content">
  <div class="row">
    <div class="small-12 columns">
      <div class="c-main-content-header">
        <h2 class="text -title-block">Featured Publications</h2>
        <p class="text -view-all"><%= link_to "View all publications", publications_path %></p>
      </div>
    </div>
  </div>

  <div class="row">
    <ul>
      <% @publications.each do |publication| %>
        <li class="small-12 medium-3 columns">
          <%= link_to publication.title, publication %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="l-main-content">
  <div class="row">
    <div class="small-12 columns">
      <div class="c-main-content-header">
        <h2 class="text -title-block">Featured Media</h2>
        <p class="text -view-all"></p>
      </div>
    </div>
  </div>

  <!-- slider -->
</div>


<div class="l-main-content">
  <div class="row">
    <div class="small-12 columns">
      <div class="c-main-content-header">
        <h2 class="text -title-block">Staff</h2>
        <p class="text -view-all"><%= link_to "Know our complete staff", staff_index_path %></p>
      </div>
    </div>
  </div>

  <ul>
    <% @users.each do |user| %>
      <li class="small-6 medium-3 large-2 column">
        <%= image_tag(user.avatar) %>
        <%= user.display_name %>
        <%= user.current_position %>
      </li>
    <% end %>
  </ul>

</div>

<p>Contact us</p>
