<h1>GRID Arendal</h1>

<% if @event %>
  <div>
    <h3><%= @event.title %></h3>
    <%= @event.description %>
    <br />
    <%= link_to "Learn more", @event.web_url %>
    <% if @event.partner %>
      <p>sponsored by <%= link_to @event.partner.name, @event.partner.web_url %></p>
    <% end %>
  </div>
<% end %>

<h2>Latest news</h2>
<p><%= link_to "View all news", news_index_path %></p>

<% @articles.each do |article| %>
  <iframe src="https://GRIDArendal.exposure.co/<%= article.exposure_slug %>/embed/cover?embed=true" style="width:200px;height:300px;margin-bottom:5px;border:solid 1px #ccc;border-radius:2px;"></iframe>
<% end %>

<hr />

<h2>Featured activities</h2>
<%= link_to "View all activities", activities_path %>

<ul>
  <% @activities.each do |activity| %>
    <li>
      <%= link_to activity.title, activity %>
    </li>
  <% end %>
</ul>

<hr />

<h2>Featured Publications</h2>
<%= link_to "View all publications", publications_path %>

<ul>
  <% @publications.each do |publication| %>
    <li>
      <%= link_to publication.title, publication %>
    </li>
  <% end %>
</ul>

<hr />

<h2>Featured Media</h2>
<section></section>

<hr />

<h2>Staff</h2>
<%= link_to "Know our complete staff", staff_index_path %>
<ul>
  <% @users.each do |user| %>
    <li>
      <%= image_tag(user.avatar) %>
      <%= user.display_name %>
      <%= user.current_position %>
    </li>
  <% end %>
</ul>

<hr />

<p>Contact us</p>
