<div class="l-items-index">
  <%= render 'publications', publications: @publications %>
</div>

<div class="l-items-detail">
  <p> Edit</p>
  <h2><%= @publication.title || 'Publication' %></h2>
  <%= simple_form_for @publication do |f| %>
    <%= render 'form', form: f, users: @users, partners: @partners %>
    <div class="actions">
      <%=  f.submit  do %>
        <button>Update</button>
      <% end %>
    </div>
  <% end %>
</div>
