<h2>Publications</h2>

<% if can?(:create, Publication) %>
  <%= link_to "New", new_publication_path %>
<% end %>

<ul>
  <% @publications.each do |publication| %>
    <li>
      <%= publication.title %>
      <%= link_to 'Edit', edit_publication_path(publication) %>
      <% if can?(:publish, publication) && publication.unpublished? %>
        |
        <%= link_to "Publish", publish_publication_path(publication), method: :patch %>
      <% end %>
      <% if can?(:unpublish, publication) && publication.published? %>
        |
        <%= link_to "Unpublish", unpublish_publication_path(publication), method: :patch %>
      <% end %>
      <% if can?(:make_featured, publication) && publication.not_featured? %>
        |
        <%= link_to "Make featured", make_featured_publication_path(publication), method: :patch %>
      <% end %>
      <% if can?(:remove_featured, publication) && publication.featured? %>
        |
        <%= link_to "Remove featured", remove_featured_publication_path(publication), method: :patch %>
      <% end %>
    </li>
  <% end %>
</ul>
