<%
  sortable ||= false
  edit_path = @page.present? ? polymorphic_url([:edit, item], page: @page, search: @search) : [:edit, item]
%>
<li id="item_<%= item.id %>" class="c-index-item <%= "-selected" if selected %>" data-item-id="<%= item.id %>">
  <% if sortable %>
    <svg class="dragger icon">
      <use xmlns:xlink="//www.w3.org/1999/xlink" xlink:href="#icon-row_dragger"></use>
    </svg>
  <% end %>
  <div class="text -index-item -light title -short">
    <%= truncate(title, length: 30) %>
    <% if item.is_a?(Album) %>
      (<%= pluralize(item.photos.count, 'photo') %>)
    <% end %>
  </div>
  <div class="text -index-item -light title -long">
    <%= truncate(title, length: 50) %>
    <% if item.is_a?(Album) %>
      (<%= pluralize(item.photos.count, 'photo') %>)
    <% end %>
  </div>
  <%= link_to '', edit_path, class: 'linker js-linker' %>
  <div id="options-for-<%= item.id %>" class="options">
    <%= render 'backend/shared/index_options', item: item %>
  </div>
</li>
