<li class="c-index-item">
  <div class="dragger">
    <svg class="icon">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-row_dragger"></use>
    </svg>
  </div>
  <div class="text -index-item -light title -short"><%= truncate(title, length: 30) %></div>
  <div class="text -index-item -light title -long"><%= truncate(title, length: 50) %></div>
  <%= link_to '', edit_path, class: 'linker' %>
  <div class="options">
    <% if can?(:make_featured, item) && item.not_featured? %>
        <%= link_to raw('<svg class="icon" data-type="Make featured"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-star_outline"></use></svg>'), make_featured_path, method: :patch, class: "MakeFeatured" %>
    <% end %>
    <% if can?(:remove_featured, item) && item.featured? %>
        <%= link_to raw('<svg class="icon" data-type="Remove featured"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-star"></use></svg>'), remove_featured_path, method: :patch, class: "RemoveFeatured" %>
    <% end %>
    <% if can?(:publish, item) && item.unpublished? %>
        <%= link_to raw('<svg class="icon" data-type="Publish"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-visibility_off"></use></svg>'), publishn_path, method: :patch, class: "Publish" %>
    <% end %>
    <% if can?(:unpublish, item) && item.published? %>
        <%= link_to raw('<svg class="icon" data-type="Unpublish"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-visibility"></use></svg>'), unpublish_path, method: :patch, class: "Unpublish" %>
    <% end %>
    <%= link_to raw('<svg class="icon" data-type="Edit"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-edit"></use></svg>'), edit_path, class: '-edit' %>
    <%= link_to raw('<svg class="icon" data-type="Delete"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-delete"></use></svg>'), "#", method: :patch %>
  </div>
</li>
