<div class="filter -type-select js-filter <%= "-have-value" if params[key].present? %>" data-filter-type="select" data-filter-key="<%= key %>">
  <div class="type text -filter-title"><%= title %></div>
  <span class="speaker">
    <span id="<%= key %>" class="text -filter" data-placeholder="<%= placeholder %>">
      <% if params[key].present? %>
        <% matching_element = data.select{|t| params[key] == t.send(matching_method).to_s }.first %>
        <%= matching_element && matching_element.send(display_method) or placeholder %>
      <% else %>
        <%= placeholder %>
      <% end %>
    </span>
    <svg class="icon">
      <use xlink:href="#icon-dropdown_arrow_down"></use>
    </svg>
  </span>
  <div class="dropdown">
    <div class="type text -filter-title"><%= title %></div>
    <% if with_search %>
      <div class="search-box">
        <input type="text" value="" placeholder="Search" class="text -filter" />
      </div>
    <% end %>
    <ul class="list">
      <% data.each do |option| %>
        <% text = option.send(display_method) %>
        <li class="text -filter js-dropdown-item <% if params[key] && (params[key] == option.send(matching_method).to_s) %>selected<% end %>" data-value="<%= option.send(matching_method) %>"><%= text %></li>
      <% end %>
      <li class="text -filter no-results-speaker">No results found</li>
    </ul>
  </div>
  <select class="text -filter">
    <option value="" disabled <% if not(params[key]) %>selected<% end %>><%= placeholder %></option>
    <option value=""></option>
    <% data.each do |option| %>
      <% text = option.send(display_method) %>
      <option value="<%= option.send(matching_method) %>" <% if params[key] && (params[key] == option.send(matching_method).to_s) %>selected<% end %>><%= text %></option>
    <% end %>
  </select>
</div>
