<% title(@media_content.title) %>
<%
  if ![MediaContent::TYPE_VIDEO, MediaContent::TYPE_VIDEO_COLLECTION].include?(@media_content.type)
    photo = @media_content.first_item
    biggest = photo.biggest_size
    is_vertical = biggest.is_vertical?
    picture_url = biggest.url
  else
    video_url = @media_content.video_url
  end

  breadcrumbs_links = if @media_content.single? && @media_content.album_id.present?
                      [
                        {text: 'Resources', link: resources_path},
                        {text: truncate(@media_content.album.title, length: 20), link: resource_path(@media_content.album_id)},
                        {text: @media_content.title,
                         edit_path: backend.url_for([:edit, @media_content]) }
                      ]
                      else [
                        {text: 'Resources', link: resources_path},
                        {text: @media_content.title,
                         edit_path: backend.url_for([:edit, @media_content]) }
                      ]
                      end
%>

<div class="l-header-single">
  <div class="navigation -media-library">
    <%= render 'shared/menu' %>
    <div class="row">
      <div class="small-12 columns">
        <div class="title-block">
          <%= render 'shared/breadcrumbs', links: breadcrumbs_links %>
          <%= render 'shared/share', current_route: @current_route  %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="l-media-article -media-library">
  <div class="row">
    <div class="small-12 column c-article-image-container">
      <% if @media_content.type == MediaContent::TYPE_VIDEO %>
        <div class="c-article-image">
          <iframe src="<%= video_url %>" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
      <% elsif not(@media_content.type.include?(MediaContent::TYPE_VIDEO_COLLECTION)) %>
        <div class="c-article-image <% if is_vertical %>-vertical<% end %>" style="background-image: url('<%= picture_url %>');"></div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="small-12 large-6 column">
      <div class="content">
        <h2 class="text -title-single"><%= @media_content.title %></h2>
        <div class="text -body-single">
          <%= raw @media_content.description %>
          <br>
          <% if @media_content.publication_date.present? %>
            <p><strong>Year:</strong> <%= @media_content.publication_date.year %></p>
          <% end %>
          <% if @media_content.album_id %>
            <% title = @media_content.type == MediaContent::TYPE_GRAPHIC ? "From collection" : "From album" %>
            <p><strong><%= title %>:</strong> <%= link_to @media_content.album.title, resource_path(@media_content.album_id) %></p>
          <% end %>
          <% if @media_content.single? && @media_content.author.present? %>
            <p>
              <strong><%= author_title(@media_content) %>:</strong>
              <%= @media_content.author %>
            </p>
          <% end %>
          <% if @media_content.tags.any? %>
            <p class="c-tags">
              <strong>Tags:</strong>
              <% @media_content.tags.order(:name).each do |tag| %>
                <%= link_to resources_path(:tags => tag.id) do %>
                  <span class="tag text -meta"><%= tag %></span>
                <% end %>
              <% end %>
            </p>
          <% end %>
        </div>
      </div>
    </div>

    <div class="small-12 large-4 large-offset-2 column">
      <div class="sidebar">
        <div class="download-links">
          <% if [MediaContent::TYPE_PHOTO, MediaContent::TYPE_GRAPHIC].include?(@media_content.type) %>
            <div class="text -sidebar-title">Download</div>
            <ul class="button-list">
              <% @media_content.photo_sizes.where(label: PhotoSize::LABELS).each do |size| %>
                <%= link_to size.url, title: size.label, target: '_blank' do %>
                  <li class="btn -dark" data-file-size="<%= "#{size.width}x#{size.height}"%>" data-key="<%= size.label %>">
                    <%= PhotoSize::DISPLAY[size.label] %>
                  </li>
                <% end %>
              <% end %>
            </ul>
            <% if @media_content.type == MediaContent::TYPE_GRAPHIC && (@media_content.eps || @media_content.pdf) %>
              <div class="text -sidebar-title">High-res download for publications</div>
              <%= graphic_formats_download(@media_content) %>
              <div id="graphic-request-modal"></div>
            <% end %>
          <% end %>
        </div>
        <div class="constraints">
          <div class="text -sidebar-title">Use Constraints</div>
          <div class="text -meta">Using this item and referring to it is encouraged, and please use it in presentations, web pages, newspapers, blogs and reports.<br><br>For any form of publication, please include the link to this page and give the creator credit <% if @media_content.author.present? %>(in this case <%= @media_content.author %>)<% end %></div>
        </div>
      </div>
    </div>
  </div>

</div>

<% if @media_content.set? %>
  <% label_txt = case @media_content.type
             when MediaContent::TYPE_ALBUM
               "Photos"
             when MediaContent::TYPE_COLLECTION
               "Graphics"
             else
               "Videos"
             end
  %>
  <%= render 'shared/media', media_contents: @media_content.items,
    title: "#{label_txt} included in album", sectionClass: 'content -color-4' %>
<% end %>

<% if [MediaContent::TYPE_GRAPHIC, MediaContent::TYPE_COLLECTION].include?(@media_content.type) %>
  <%= render 'publications', media_content: @media_content %>
  <%= render 'activities', media_content: @media_content %>
<% else %>
  <%= render 'activities', media_content: @media_content %>
  <%= render 'publications', media_content: @media_content %>
<% end %>

<% if @media_content.news_articles.any? %>
  <%= render 'shared/news', news: @media_content.news_articles.
    order(publication_date: :desc), title: "Related news",
    sectionClass: 'content -color-4' %>
<% end %>

<% if @users.any? %>
  <%= render 'shared/users', users: @users, sectionClass: 'content -color-4' %>
<% end %>

<%= render 'shared/scroll_to_top' %>

