<div class="nested-fields <% if defined? current_picture %>-hidden<% else %>tmp_form<% end %>"
     data-media-content-id="<%= f.object.id %>"
     data-is-cover="<%= is_cover_photo?(@media_content, f.object) %>">

  <%= render 'backend/shared/form/header', form: f, inputs: [{value: :title, title_placeholder: 'Photo title'}], default_actions: false %>

  <div class="fields">

    <%= render 'backend/shared/form/field_upload_img', form: f, value: :photo_file, label_txt: 'Picture', have_picture: false %>

    <%= render 'backend/shared/form/field_textarea', form: f, value: :description %>

    <div class="field">
      <% if not(is_cover_photo?(@media_content, f.object)) %>
        <%= f.label :main_photo_file, 'Main photo:', class: 'text -field-label -bold -dark' %>
        <%= f.input :main_photo_file, as: :boolean, label: false do %>
          <%= f.check_box :main_photo_file, {}, true, nil %>
        <% end %>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :is_published, class: 'text -field-label -bold -dark' %>
      <%= f.input :is_published, as: :boolean %>
    </div>

    <% unless is_cover_photo?(@media_content, f.object) %>
      <%= link_to_remove_association 'REMOVE PHOTO', f, class: 'btn -light' %>
    <% end %>
  </div>
</div>