<%= render 'backend/shared/form/header', form: form, inputs: [{value: :title, title_placeholder: 'Photo title'}] %>

<div class="fields">
  <%= render 'backend/shared/form/field_upload_img', form: form, value: :photo_file, label_txt: 'Picture', have_picture: have_picture, picture_url: picture_url %>

  <%= render 'backend/shared/form/field_textarea', form: form, value: :description %>

  <%= render 'backend/shared/form/field_tags', form: form, collection: tags %>

  <%= form.hidden_field :mediable, value: params[:mediable] %>
</div>
