<% tabs = [
  {"title" => "Albums", "key" => "album", "data" => albums},
  {"title" => "Pictures", "key" => "photo", "data" => photos},
]
selected_tab = if params[:mediable].present?
                params[:mediable]
              elsif (defined? media_content)
                media_content.mediable_type
              else
                "album"
              end %>
<div class="tabs">
  <% tabs.each do |tab| %>
    <div class="tab text -main-title -light js-select-tab <% if tab['key'] == selected_tab %>-selected<% end %>" data-type="<%= tab['key'] %>"><%= tab['title'] %></div>
  <% end %>
</div>

<% tabs.each do |tab| %>
  <div class="tabs-content <% if tab['key'] == selected_tab %>-selected<% end %>" data-type="<%= tab['key'] %>">
    <%= render 'backend/shared/index_items_buttons.html',
      havePermissionToCreate: can?(:create, MediaContent),
      createPath: new_media_content_path(mediable: tab['key'])
    %>

    <ul class="items-list">
      <% tab['data'].each do |media_content| %>
        <% if media_content.mediable_type == tab['key'] %>
          <%= render 'backend/shared/index_item',
            item: media_content,
            title: media_content.title,
            publishn_path: publish_media_content_path(media_content),
            unpublish_path: unpublish_media_content_path(media_content),
            edit_path: edit_media_content_path(media_content, "mediable" => media_content.mediable_type),
            delete_path: media_content_path(media_content) %>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>