<%= render 'backend/shared/form/header', form: form,
  inputs: [{value: :title, title_placeholder: 'Graphic title'}],
  preview_url: main_app.medium_path(form.object) %>

<div class="fields">
  <%= render 'backend/shared/form/field_fake_input', value: collection_title,
    label_txt: "Collection", note_txt: "Collection can't be changed" %>

  <%= render 'backend/shared/form/field_input', form: form, value: :external_id,
    disabled: true, label_txt: "Flickr id",
    note_txt: "Flickr id can't be changed" %>

  <div class="field" data-type="picture">
    <%= form.label "Picture", class: 'text -field-label -bold -dark' %>
    <%= form.label '', class: 'fake-input' do %>
        <div class="tip">
          <a href="<%= form.object.external_url %>" target="_blank">
            <div class="current_picture" style="background-image: url('<%= thumbnail %>');"></div>
          </a>
        </div>
    <% end %>
  </div>

  <div class="field" data-type="attach_documents">
    <%= form.simple_fields_for :eps do |builder| %>
      <div class="nested-fields attach_documents_field">
        <div class="file_field">
          <%= builder.label :document, "EPS file",
            class: 'text -field-label -dark' %>
          <%= builder.file_field :document, label: false, class: 'file_input' %>
          <%= builder.label :document, class: 'fake-input' do %>
            <p class="text -plain-text -dark">
            <%= builder.object && builder.object.document_file_name.present? ? builder.object.document_file_name : 'Drag and drop a file or click here' %>
            </p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="field" data-type="attach_documents">
    <%= form.simple_fields_for :pdf do |builder| %>
      <div class="nested-fields attach_documents_field">
        <div class="file_field">
          <%= builder.label :document, "PDF file",
            class: 'text -field-label -dark' %>
          <%= builder.file_field :document, label: false, class: 'file_input' %>
          <%= builder.label :document, class: 'fake-input' do %>
            <p class="text -plain-text -dark">
            <%= builder.object && builder.object.document_file_name.present? ? builder.object.document_file_name : 'Drag and drop a file or click here' %>
            </p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <%= render 'backend/shared/form/field_textarea', form: form, value: :description %>

  <%= render 'backend/shared/form/field_input', form: form, value: :author %>

  <%= render 'backend/shared/form/field_input', form: form, value: :licence %>

  <%= render 'backend/shared/form/field_datepicker', form: form,
    value: :publication_date %>

  <%= render 'backend/shared/form/field_tags', form: form, collection: tags %>
</div>
