<% activities.each do |activity| %>
  <%= link_to activity do %>
    <div class="item">
      <article class="c-card">
        <% photo_url = activity.media_content.try(:mediable_photo_url) || asset_path('original/missing2.png') %>
        <div class="card-pic" style="background-image: url(<%= photo_url %>)"></div>
        <div class="card-descrition">
          <h3 class="text -title-card"><%= activity.title %></h3>
          <p class="text -summary"><%= activity.short_description %></p>
          <p class="text -meta"><%= time_ago_in_words(activity.content_date) if activity.content_date %></p>
        </div>
      </article>
    </div>
  <% end %>
<% end %>
