<% activities.each do |activity| %>
  <% photo_url = background_image_url activity, :medium %>
  <%= link_to activity do %>
    <div class="item">
      <article class="c-card">
        <% if photo_url.present? %>
            <div class="card-pic" style="background-image: url('<%= photo_url %>')"></div>
        <% end %>
        <div class="card-description">
          <h3 class="text -title-card"><%= activity.title %></h3>
          <% if  activity.short_description.present? %>
            <p class="text -summary"><%= activity.short_description %></p>
          <% end %>
            <% if activity.status || activity.content_type %>
              <p class="card-meta">
                <% if activity.status %>
                  <span class="text -meta"><%= activity.status %></span>
                <% end %>
                <% if activity.content_type %>
                  <span class="text -meta"><%= activity.content_type.title %></span>
                <% end %>
              </p>
            <% end %>
        </div>
      </article>
    </div>
  <% end %>
<% end %>
