<div class="row">
  <div class="small-12 small-centered columns -fix">
    <div id="masonry-layout" class="masonry-layout" hidden data-columns>
      <% @activities.each do |activity| %>
        <%= link_to activity do %>
          <div class="item">
            <article class="c-card">
              <div class="card-pic" style="background-image: url('<%= activity.picture %>')"></div>
              <div class="card-descrition">
                <h3 class="text -title-card"><%= activity.title %></h3>
                <p class="text -summary"><%= activity.short_description %></p>
                <p class="text -meta"><%= time_ago_in_words(activity.created_at) %></p>
              </div>
            </article>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
