<div class="l-header-library -activities">
  <%= render 'shared/menu' %>
  <div class="row">
    <div class="small-12 columns">
      <div class="title-block">
        <h1 class="text -title-library">Activities</h1>
        <div class="text -summary">
          <%= @section.description %>
        </div>
        <%= render 'shared/share' %>
      </div>
    </div>
  </div>
</div>

<div class="l-main-content -activities -only-grid -no-border -color-3">
  <% filters = [
    {
      data: @content_types,
      type: 'select',
      title: 'FILTER BY',
      placeholder: 'Filter by type',
      key: 'type',
      display_method: 'title'
    },
    {
      data: @partners,
      type: 'select',
      title: 'FILTER BY',
      placeholder: 'Filter by partner',
      key: 'partners',
      display_method: 'name'
    },
    {
      data: @programmes,
      type: 'select',
      title: 'FILTER BY',
      placeholder: 'Filter by programme',
      key: 'programme',
      display_method: 'name'
    },
    {
      data: @tags,
      type: 'tags',
      title: 'FILTER BY',
      placeholder: 'Filter by tags',
      key: 'tags'
    }
  ] %>
  <%= render 'shared/filters', filters: filters %>

  <div class="row">
    <div class="small-12 small-centered columns grid-column">
      <div class="masonry-layout" data-columns="3">
        <%= render 'activities', activities: @activities %>
      </div>
      <% if @activities.count < 1 %>
        <div class="c-filter-message">
          <h4 class="text -title-event">Sorry, there are no activities with those filters</h4>
        </div>
      <% end %>
    </div>
  </div>

</div>

<%= render 'shared/footer' %>
