<div class="l-header-library -activities">
  <div class="overlay"></div>
  <%= render 'shared/menu' %>
  <div class="row">
    <div class="small-12 columns">
      <div class="title-block">
        <h1 class="text -title-library">Activities</h1>
        <div class="text -summary">
          <%= @section.description %>
        </div>
        <!-- <div class="share">
          <svg class="icon">
            <use xlink:href="#icon-share"></use>
          </svg>
        </div> -->
      </div>
    </div>
  </div>
</div>

<div class="l-main-content -activities">
  <% filters = [
    {
      data: @content_types,
      type: 'select',
      title: 'FILTER BY',
      placeholder: 'Filter by type',
      key: 'type',
      display_method: 'title'
    },
    {
      data: @partners,
      type: 'select',
      title: 'FILTER BY',
      placeholder: 'Filter by partner',
      key: 'partners',
      display_method: 'name'
    },
    {
      data: @tags,
      type: 'tags',
      title: 'FILTER BY',
      placeholder: 'Filter by tags',
      key: 'tags'
    }
  ] %>
  <%= render 'shared/filters', filters: filters %>

  <div class="row">
    <div class="small-12 small-centered columns -fix">
      <div id="masonry-layout" class="masonry-layout" data-columns="3">
        <%= render 'activities', activities: @activities %>
      </div>
    </div>
  </div>

</div>

<%= render 'shared/footer' %>
