<div class="l-header-single -activities-article" <% if @activity.media_content %>style="background-image: url('<%= @activity.media_content.photo_sizes.where(label: PhotoSize::LARGE).first.url %>');"<% end %>>
  <div class="overlay"></div>
  <%= render 'shared/menu' %>
  <div class="row">
    <div class="small-12 columns">
      <div class="title-block">
        <div class="c-breadcrumbs">
          <a href="/">
            <svg class="icon-home">
              <use xlink:href="#icon-breadcrumb-home"></use>
            </svg>
          </a>
          <svg class="icon">
            <use xlink:href="#icon-breadcrumb-chevron-right"></use>
          </svg>
          <%= link_to "Activities", activities_path, class: "text -meta" %>
          <svg class="icon">
            <use xlink:href="#icon-breadcrumb-chevron-right"></use>
          </svg>
          <span class="text -meta"><%= @activity.title %></span>
        </div>
      </div>
    </div>
  </div>

  <div class="section-menu">
    <div class="row">
      <div class="small-12 columns">
        <div class="title-block">
          <div class="small-8 medium-7">
            <h2 class="text -title-single-alt"><%= @activity.title %></h2>
          </div>
          <div class="share">
            <svg class="icon">
              <use xlink:href="#icon-share"></use>
            </svg>
          </div>
        </div>

        <ul class="anchors">
          <li class="text -section-menu js-anchor" data-section-belongs="overview">Overview</li>
          <% if @users.any? %>
            <li class="text -section-menu js-anchor" data-section-belongs="users">Staff involved</li>
          <% end %>
          <% if @publications.any?%>
            <li class="text -section-menu js-anchor" data-section-belongs="posts">Publications</li>
          <% end %>
          <% if @activity.news_articles.any? %>
            <li class="text -section-menu js-anchor" data-section-belongs="news">Related News</li>
          <% end %>
          <li class="text -section-menu js-anchor" data-section-belongs="media">Related media</li>
          <% if @activity.partners.any? %>
            <li class="text -section-menu js-anchor" data-section-belongs="partners">Partners & Links</li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<section class="l-single-article -activities" data-section="overview">

  <div class="row">
    <div class="small-12 column">
      <div class="text -summary-alt"><%= raw @activity.description %></div>
    </div>
  </div>
</section>

<% if @users.any? %>
  <%= render 'shared/users', users: @users %>
<% end %>

<% if @publications.any? %>
  <%= render 'shared/posts', collection: @publications, title: 'publications',
    link: publications_path %>
<% end %>

<% if @activity.news_articles.any? %>
  <%= render 'shared/news', news: @activity.news_articles %>
<% end %>

<%#= render 'shared/media' %>

<% if @activity.partners.any? %>
  <%= render 'shared/partners', partners: @activity.partners %>
<% end %>

<%= render 'shared/footer' %>
