<% content_for :social_cards do %>
  <%= render 'shared/social_cards', title: "GRID-Arendal: #{@activity.title}",
    description: @activity.description.truncate(120),
    img_src: @activity.media_content && @activity.media_content.medium_or_small_url %>
<% end %>

<div class="l-header-single">
  <div class="navigation -activities">
    <%= render 'shared/menu' %>
    <div class="row">
      <div class="small-12 columns">
        <div class="title-block">
          <% breadcrumbs_links = [
            {text: 'Activities', link: activities_path},
            {text: @activity.title,
             edit_path: backend.edit_activity_path(@activity) }
          ] %>
          <%= render 'shared/breadcrumbs', links: breadcrumbs_links %>
        </div>
      </div>
    </div>
  </div>

  <div class="banner -activities-article <% if @activity.media_content %>-picture<% end %>" <% if @activity.media_content %>style="background-image: url('<%= @activity.media_content.biggest_size_url %>');"<% end %>>
    <div class="section-menu">
      <div class="row">
        <div class="small-12 columns">
          <div class="title-block">
            <div class="small-12 medium-7">
              <h2 class="text -title-single-alt"><%= @activity.title %></h2>
              <% if @activity.status %>
                <span class="text -meta -light"><%= @activity.status %></span>
              <% end %>
            </div>
            <%= render 'shared/share', current_route: @current_route  %>
          </div>

          <ul class="anchors">
            <li class="text -section-menu js-anchor" data-section-belongs="overview">Overview</li>
            <% if @activity.partners.any? || @activity.links.any? %>
              <li class="text -section-menu js-anchor" data-section-belongs="partners">Partners & Links</li>
            <% end %>
            <% if @activity.lead_user || @activity.users.any? %>
              <li class="text -section-menu js-anchor" data-section-belongs="users">Staff involved</li>
            <% end %>
            <% if @related_activities.any? %>
              <li class="text -section-menu js-anchor" data-section-belongs="activities">Activities</li>
            <% end %>
            <% if @activity.publications.any?%>
              <li class="text -section-menu js-anchor" data-section-belongs="posts">Publications</li>
            <% end %>
            <% if @activity.news_articles.any? %>
              <li class="text -section-menu js-anchor" data-section-belongs="news">Related News</li>
            <% end %>
            <% if @activity.media_contents.any? %>
              <li class="text -section-menu js-anchor" data-section-belongs="related-media">Related media</li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="l-single-article -activities" data-section="overview">

  <div class="row">
    <div class="small-12 column">
      <div class="text -summary-alt">
        <%= raw @activity.description %>
        <p><br /></p>
        <% if @activity.content_type.present? %>
          <p><strong>Status:</strong> <%= link_to @activity.status, activities_path(:status => @activity.status) %></p>
        <% end %>
        <% if @activity.content_type.present? %>
          <p><strong>Type:</strong> <%= link_to @activity.content_type.title, activities_path(:type => @activity.content_type.id) %></p>
        <% end %>
        <% if @activity.tags.where(category: Tag::PROGRAMME).any? %>
          <p>
            <strong>Programme:</strong>
            <% @activity.tags.where(category: Tag::PROGRAMME).each_with_index do |tag, i| %><%= i != 0 ? ', ' : '' %>
              <%= link_to tag, activities_path(:programme => tag.id) %><% end %>
          </p>
        <% end %>
        <% if @activity.tags.any? %>
          <p class="c-tags">
            <strong>Tags:</strong>
            <% @activity.tags.each do |tag| %>
              <%= link_to activities_path(:tags => tag.id) do %>
                <span class="tag text -meta"><%= tag %></span>
              <% end %>
            <% end %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</section>

<% if @activity.partners.any? || @activity.links.any? %>
    <%= render 'shared/partners', partners: @activity.partners, links: @activity.links, sectionClass: 'content -color-3' %>
<% end %>

<% if @activity.lead_user || @activity.users.any? %>
  <%= render 'shared/users', users: @activity.users.order_by_fullname,
    lead_user: @activity.lead_user, sectionClass: 'content -color-3' %>
<% end %>

<% if @related_activities.any? %>
  <%= render 'shared/posts', collection: @related_activities,
    title: "#{@activity.is_programme? ? "Programme's" : "Related"} activities",
    section: "activities",
    link_txt: 'View all activities',
    link: activities_path, sectionClass: 'content -color-3' %>
<% end %>

<% if @activity.publications.any? %>
  <%= render 'shared/posts', collection: @activity.publications.
    order(content_date: :desc),
    title: 'Related publications',
    link_txt: 'View all publications',
    link: publications_path, sectionClass: 'content -color-3' %>
<% end %>

<% if @activity.news_articles.any? %>
  <%= render 'shared/news', news: @activity.news_articles.
    order(publication_date: :desc), sectionClass: 'content -color-3',
    title: 'Related news' %>
<% end %>

<% if @activity.media_contents.any? %>
  <%= render 'shared/related_media', media_contents: @activity.media_contents,link: resources_path, sectionClass: 'content -color-3' %>
<% end %>

<%= render 'shared/footer' %>
