<div class="l-header-single -activities-article">
  <div class="overlay"></div>
  <%= render 'shared/menu' %>
  <div class="row">
    <div class="small-12 columns">
      <div class="title-block">
        <div class="c-breadcrumbs">
          <a href="/">
            <svg class="icon-home">
              <use xlink:href="#icon-breadcrumb-home"></use>
            </svg>
          </a>
          <svg class="icon">
            <use xlink:href="#icon-breadcrumb-chevron-right"></use>
          </svg>
          <%= link_to "Activities", activities_path, class: "text -meta" %>
          <svg class="icon">
            <use xlink:href="#icon-breadcrumb-chevron-right"></use>
          </svg>
          <span class="text -meta"><%= @activity.title %></span>
        </div>
      </div>
    </div>
  </div>

  <div class="section-menu">
    <div class="row">
      <div class="small-12 columns">
        <div class="title-block">
          <div class="small-8 medium-7">
            <h2 class="text -title-single-alt"><%= @activity.title %></h2>
          </div>
          <div class="share">
            <svg class="icon">
              <use xlink:href="#icon-share"></use>
            </svg>
          </div>
        </div>

        <ul class="anchors">
          <li class="text -section-menu">Overview</li>
          <li class="text -section-menu">Staff involved</li>
          <li class="text -section-menu">Publications</li>
          <li class="text -section-menu">Related News</li>
          <li class="text -section-menu">Related media</li>
          <li class="text -section-menu">Partners & Links</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="l-single-article -activities">

  <div class="row">
    <div class="small-12 column">
      <div class="text -summary-alt">The methodology has been under development in conjunction with the UN World Ocean Assessment (WOA) to assist countries to participate in that assessment by conducting their own state of marine environment (SOME) assessments. GRID-Arendal has developed a web-based software to facilitate workshops for rapid SOME assessments. Further development and demonstration of this software, in order to achieve recognition and adoption by UNEP, IOC and DOALOS, is a key driver for the project.</div>
    </div>
  </div>
</div>

<%= render 'shared/users' %>

<%= render 'shared/posts', collection: @publications, title: 'publications', link: publications_path %>

<%= render 'shared/news' %>

<%= render 'shared/media' %>

<%= render 'shared/partners' %>

<%= render 'shared/footer' %>
