<div class="l-header-single -activities">
  <div class="overlay"></div>
  <%= render 'shared/menu' %>
  <div class="row">
    <div class="small-12 columns">
      <div class="title-block">
        <div class="c-breadcrumbs">
          <a href="/">
            <svg class="icon-home">
              <use xlink:href="#icon-breadcrumb-home"></use>
            </svg>
          </a>
          <svg class="icon">
            <use xlink:href="#icon-breadcrumb-chevron-right"></use>
          </svg>
          <%= link_to "Activities", activities_path, class: "text -meta" %>
          <svg class="icon">
            <use xlink:href="#icon-breadcrumb-chevron-right"></use>
          </svg>
          <span class="text -meta"><%= @activity.title %></span>
        </div>
        <div class="share">
          <svg class="icon">
            <use xlink:href="#icon-share"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="l-single-article -activities">

  <div class="row">
    <div class="small-12 column">
      <div class="c-article-image"></div>
    </div>
  </div>

  <div class="content-wrapper">

    <div class="content">
      <h2 class="text -title-single-alt"><%= @activity.title %></h2>
      <div class="text -body-single"><%= @activity.description %></div>
    </div>

    <div class="sidebar -activities">
      <div class="title text -title-block mobile">
        Download
      </div>
      <div class="meta">
        <div class="row">
          <div class="small-6 medium-3 large-4 columns">
        <div class="cover">
        </div>
      </div>
        <div class="small-6 medium-9 large-8 columns">
          <div class="title text -meta desktop">
            Download
          </div>
          <div class="download-links">
            <div class="btn -dark">
              pdf
            </div>
            <div class="btn -dark">
              e-book
            </div>
            <div class="btn">
              graphics
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>

  </div>

  <%= render 'shared/users' %>

  <%= render 'shared/posts', collection: @activities, title: 'activities', link: activities_path %>

  <%= render 'shared/media' %>

</div>

<%= render 'shared/footer' %>
