<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= if content_for?(:title) then yield(:title) + ' | ' end %>
      GridArendal
    </title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'/>
    <meta name="turbolinks-cache-control" content="no-cache">

    <meta name="description" content="GRID-Arendal is a Norwegian foundation working closely with the United Nations Environment. We are working on projects all around the world on biodiversity, environmental crime, climate change and Indigenous Peoples."/>

    <% if @section %>
      <%= render 'shared/social_cards', title: @section.title,
        description: @section.social_description.presence,
        img_src: @section.photo && @section.photo.medium_or_small_url
      %>
    <% else %>
      <%= yield :social_cards %>
    <% end %>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="slide-<%= rand(1..6) %>">
    <%= render 'shared/icons' %>
    <%= yield %>
  </body>
  <%= render 'shared/analytics' %>
  <%= render 'shared/disqus' %>
</html>
