<!DOCTYPE html>
<html>
  <head>
    <title>GridArendal</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'/>
    <meta name="turbolinks-cache-control" content="no-cache">

    <!-- Twitter Card data -->
     <meta name="twitter:site" content="@GRIDArendal"/>
     <meta name="twitter:title" content="GRid Arendal"/>
     <meta name="twitter:description" value=""/>
     <meta name="twitter:card" value=""/>
     <meta name="twitter:image:src" content=""/>

     <!-- Open Graph data -->
     <meta property="og:title" content="GRid Arendal"/>
     <meta property="og:type" content="website"/>
     <meta property="og:url" content=""/>
     <meta property="og:image" content=""/>
     <meta property="og:description" content=""/>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="slide-<%= rand(1..6) %>">
    <%= render 'shared/icons' %>
    <%= yield %>
  </body>
</html>
